[2013-06-26 16:03] zachjacobs opened #1 "Decoder example fails as the file is no longer available at URL"
http://www.fileformat.info/format/mpeg/sample/031699cb978244b8a3adf1e81cb2ac7c/download

The download link is down here:  http://www.fileformat.info/format/mpeg/sample/

When trying to download the file this error is received:  _This XML file does not appear to have any style information associated with it. The document tree is shown below._

[2013-06-26 18:56] #1 closed, assigned to nobody

[2013-09-20 11:35] lumyslinski opened #2 "Trim/cut video"
Hello!
Great library. Could You tell me how to edit video to trim/cut it?

Thanks in advance!
Regards

[2013-09-20 12:30] #2 closed, assigned to nobody

[2013-10-04 07:34] Ruslan-B opened #3 "Update library with ffmpeg 2.0.1"

[2013-10-11 03:37] #3 closed, assigned to Ruslan-B

[2014-03-04 05:09] gnsx opened #6 "Crashing on close"
FFmpegInvoke.avformat_close_input(&pFormatcurrent);
causes a crash.
I am u using ffmpeg.autogen.dll in unity to decode a stream and then output. well the decoding and output works good but after the operation when i do close_input the application freezes.

[2014-03-04 18:44] #6 closed, assigned to nobody

[2014-03-21 23:48] cunhaw opened #7 "Generate.py on Windows"
Hi Ruslan-B,

First of all, congratulations for the great work.
I'm trying to run the generate.py on Windows 8, with no success. Can you help me?

Tried to use this stack:
MingW: Latest version from their website. mingw32-base 2013072200. GCC version is 4.8.1.
Python: Version 2.7.6 (also the latest stable). Comes with ctypes 1.1.0 by default.

Output:
Status: Preprocessing c:\users\wagner\appdata\

[2014-03-23 21:17] #7 closed, assigned to nobody

[2015-01-14 13:09] Booster2ooo opened #8 "Generate new version"
Hello Ruslan,

I've been using your library for a little while but today, I need to use a newer version of libav.
I downloaded the packages at Zeranoe and replaced the bin & include folders.
When I try to generate the new .cs file using the python script, this error got raised (which was not raised with the older version) :

Status: Preprocessing d:\temp\tmpv8qtyr.h
Status: gcc -v -E -U __GNUC__ -

[2015-01-14 13:33] Ruslan-B commented on #8
Hi there,

I see your pain :). Generation indeed is a messy process and very sensitive to environment. I can update it to newer version at no time if you don't mind. Besides I'm going switch python generator to gccxml+F# which is going to less sensitive to environment setup.

Cheers,
Ruslan

[2015-01-14 19:00] Ruslan-B commented on #8
I've pushed update to 2.5.2 to master branch.

[2015-01-14 19:00] #8 closed

[2015-01-15 10:01] Booster2ooo commented on #8
Thank you very much :)

[2015-02-16 20:31] ViToni opened #9 "Wrong signature for: av_get_channel_layout_string"
`av_get_channel_layout_string` is supposed to write the found channel layout into `buf`, which doesn't work for me with the given signature:

[code]

After changing the code to:
[code]
the channel layout can be retrieved easily via:
[code]

[2015-02-17 10:56] Ruslan-B commented on #9
Thank you for reporting. I'll take a look, most-likely it is a generic bug in C# generator.

[2015-02-17 11:04] ViToni commented on #9
Thanks for checking.

It's great you have created the wrapper! I tried other wrapper libraries which didn't work at all or only in parts.
Your approach with an generated wrapper seems promising in regards to the ongoing ffmpeg API changes.

[2015-02-17 18:17] Ruslan-B commented on #9
Thank you :), well on the other hand this wrapper is not for everybody.
I've checked generator and looks like it works fine till you meet this function and indeed System.String cannot be correctly marshaled in this case.
Looks like I need to introduce exclusion for this specific function.
Otherwise you need to explicitly convert strings everywhere like this:
[code]

[2015-02-17 18:46] Ruslan-B commented on #9
The argument type String this set functions forced to byte*:
	'av_strerror',
        'av_strndup',
        'av_log_format_line',
        'av_get_codec_tag_string',
        'av_get_sample_fmt_string',
        'av_get_channel_layout_string',
        'avcodec_string',
        'av_get_string',
        'avio_get_str',
        'avio_get_str16le',
        'avio_get_str16be',
        'av_url_split',

[2015-02-17 21:07] ViToni commented on #9
You are fast ;)
I agree using System.String is convenient most of the time and should be the default for input variables.
Your change seems to catch all instances where `char*` has ben used for output (and therefore needs to be mapped to `byte*`).

[2015-02-18 11:39] Ruslan-B commented on #9
Will see :), they constantly changing things.

[2015-02-18 18:27] ViToni commented on #9
Tested your change. Works.

Thanks a lot for your good work!

One suggestion still: using `sbyte* buf` instead of `byte* buf` would save the casting in
`return new String((sbyte*)buf);`

[2015-02-18 19:21] Ruslan-B commented on #9
Indeed it is more convenient. I wonder why three no byte* constructor... :)
I've changed generation rules with respect to char (string) based types thus it is affects not only methods but entire wrapper.

[2015-02-18 20:12] ViToni commented on #9
Tested & it works. Great!

[2015-03-06 11:10] ViToni commented on #9
If dug deeper into the code an it seems as if `av_strndup` uses the len argument onyl to indicate which part of the string to copy.
Having `String av_strndup(String, int)` would be just fine.

(BTW:
* Would you like me open a new issue for such input or do you consider it belonging to the original issue?
* Can the generator be configured to treat parameters differently on the same method?
  * Exam

[2015-03-06 11:18] ViToni commented on #9
My guess on `sbyte` is because ASCII is only well defined for the first 128 characters...
The "top" 128 characters were used for vendor specific code pages.

[2015-03-06 21:37] Ruslan-B commented on #9
Looks like you are only one who is using all these functions :). I'll take a look what can be done with respect to different parameters. However, it is already clear that there are two ways:
first to supply additional metadata, for api user convenience;
and second just to use common denominator.

[2015-03-06 22:10] ViToni commented on #9
Hopefully not, your wrapper is great!
And in contrast to other wrappers I found, it work's:)

I am digging deep because I try to write a C# version of ffprobe. It's working but is still rough.
I am using my version of ffprobe as a starting point to see if it's feasible to get transcoding to work from within C#.

One obstacle I have found so far (not a shortcoming of your project) is that the log c

[2015-03-12 00:33] 1100594 opened #10 "Video encoder - Image set to video"
Hi! Hope all is okay...

Your lib is awesome!

Can you tell me if I can use FFmpeg.AutoGen to encode a image sequence to a video? I know that is possible with ffmpeg, but I want to know if is possible to do this with your lib in Mono.
Can you also indicate me a nice tutorial or samples of how to do this with the recent ffmpeg?(because I only find samples in c that use old ffmpeg dlls).

Best regar

[2015-03-13 17:42] Ruslan-B commented on #10
Question is irrelevant or not related to wrapper. I can consider to write another example but cant give any ets.

[2015-03-13 17:42] #10 closed

[2015-03-13 18:35] 1100594 commented on #10
Hi,
Humm... thanks for the quick answer, so you are saying that is possible to do this, right? If you can provide another example (when you have time) it will fine for me too, I don't need any ETS.
Thanks again,
1100594

[2015-03-13 18:54] Ruslan-B commented on #10
Np, I'm saying that is issue is not an issue.
In general, yes, it is possible - again if it possible with ffmpeg (there are few exclusions).
But if you couldn't find any examples with respect to recent version of ffmpeg, it means there are not a lot of them in general.
Thus this is irrelevant to auto generated wrapper.
I may consider to research this question thoroughly.
As seems it shouldn't too

[2015-03-13 19:13] 1100594 commented on #10
Okay, Thanks... :)

I will continue my research too and let you know if i'm having any issues with the wrapper.

[2015-03-15 20:10] 1100594 commented on #10
Hi,

I don't want to open another issue, so:

I dunno if only with my generation of FFmpeg.AutoGen (I think not, cause I can't find in your AutoGen too), but i can't find the signature of method "int av_image_alloc(uint8_t *pointers[4], int linesizes[4], int w, int h, enum AVPixelFormat pix_fmt, int align)" that is defined in the lib avutil-54 (same version as yours)...it is a bug or this method i

[2015-03-15 21:09] Ruslan-B commented on #9
I reverted av_strndup to string. I'll take a look how hand it will be to create additional set of rules.

[2015-03-15 21:15] Ruslan-B commented on #10
Well, it was an issue.
As FFmpeg include files listed manually per library but looks like not all of them including all necessary headers.
I added imgutils.h to the generation script - thus av_image_alloc function did appear in wrapper.

Please let me know if you are missing anything else.

[2015-03-15 21:29] 1100594 commented on #10
Tested & Worked, thanks...

[2015-04-08 17:54] CyrilPaulus opened #11 "Invalid ddlName for swresample"
It seems that all the functions of swresample point to the wrong dll.
They are mapped to AVCODEC_LIBRARY which is avcodec-56.dll, but I think they should be mapped to swresample-1.dll

Could you check ?

[2015-04-12 06:03] Ruslan-B commented on #11
It appears this dll is not mapped at all, I'll check.

[2015-04-28 19:14] Ruslan-B opened #12 "Many functions are missed. E.g.: av_fifo_size, av_buffersink_get_frame_flags, ff_request_frame, filter_encode_write_frame and etc"
Hello Ruslan!

I'm trying to use your project FFmpeg.AutoGen to transcode video.
I've already used it to implement an ability to get info about video streams and to get thumbnails. But I have an issues when try to use it to transcode video. It seems that functions that are declared in avcodec.h are not included into FFmpeg.AutoGen.
I just tried to re-implamant http://ffmpeg.org/doxygen/trunk/trans

[2015-05-04 14:52] Ruslan-B commented on #11
Should be fine by now.

[2015-05-04 14:53] #11 closed

[2015-05-04 14:56] Ruslan-B commented on #12
I've fixed av_fifo_size but the rest looks like callbacks or methods which are not listed in *.h files.

[2015-05-06 08:42] #12 closed

[2015-07-12 19:43] superware opened #13 "Some changes/additions I had to make"
Great wrapper Ruslan!

[code]

[code]

[2015-07-13 16:39] Ruslan-B commented on #13
Thanks, I'll take a look if can be done in a generic way.

[2015-07-20 01:31] EchterAgo opened #14 "Wrong channel layout flags"
The channel layout flags like "AV_CH_LAYOUT_STEREO" get generated wrongly as zero. In the FFmpeg source code they are set using a bitwise or of other flags like "AV_CH_FRONT_LEFT | AV_CH_FRONT_RIGHT" in the case of stereo. Anyway, thank you for this great wrapper!

[2015-07-20 01:38] EchterAgo commented on #14
[code]

versus channel_layout.h from ffmpeg-2.5.2

[code]

[2015-07-21 16:38] Ruslan-B commented on #14
It look like a bug in python ctypesgen across preprocessor. I'll take a look but cannot promise it will be fixed.
I'm considering switch to gccxml but it will take some time and will lead to breaking changes.

[2015-07-30 00:24] EchterAgo commented on #14
No need to hurry, I am just combining the flags myself and it seems to work. I just wanted to have this documented in case someone else runs into it.

[2015-08-08 16:05] mariodivece commented on #14
+1 here. I had to do some down-mixing from 6 channels to stereo and I noticed it was not working. Combining the flags manually worked like a charm :)
This project is really the only one that provides complete access to all of FFmpeg's features. Great Work!

[2015-08-13 04:52] ksze opened #15 "Clarification about generation on Windows"
Can you provide more clarifications about running `python generate.py` on Windows?

First of all, it appears that you can't use Python 2.7 from Cygwin (64-bit), as it doesn't know about `WindowsError` and results in a name error.

Second of all, can I use MinGW-w64? If so, what installation option should I use?

  - Threads: posix or win32?
  - Exceptions: seh or sjlj?

[2015-08-13 05:24] Ruslan-B commented on #15
Python 2.7 (x64) for Windows
https://www.python.org/downloads/release/python-2710/
As for MinGW - only basic gcc is needed the rest is by default as it not suppose to compile anything.
After generation some minor tweaks are needed in FFmpegInvoke.cs in order to compile it.

[2015-09-15 17:11] BrannonKing opened #16 "no methods added when targeting FFmpeg 2.7.x"
I was attempting to run your generation script on a recent build of FFmpeg. It generates the structs okay but not the methods. I was using MSYS2. I need a custom LGPL build of FFmpeg that has the  --enable-small and I also need the ffmpeg.exe itself included alongside the DLLs. When running the generated code downloaded from this site, I get a memory corruption error in release compiles. Please co

[2015-09-15 17:47] mariodivece commented on #16
I was trying to do the same. I tried compilation from scratch (in Ubuntu) and modifying the generate.py to match FFmpeg 2.8 (including library names and stuff). Generates the structs okay but not the methods. Since this project has not been updated for some time now I just had to stick with a prior version. @Ruslan-B  hopefully you are able to update this awesome project as it is the only true, co

[2015-09-15 18:16] BrannonKing commented on #16
I was able to compile FFmpeg 2.5.8 and it appears to work with the generated wrapper. I'll be using that in the mean time.

[2015-10-15 11:47] superware commented on #13
Hi Ruslan, are you going to update this project soon? :|

[2015-10-24 17:06] superware commented on #13
Ruslan? :-)

[2015-10-24 19:55] mariodivece commented on #13
@superware Maybe we should chip in so @Ruslan-B updates this awesome tool...
What do you say @Ruslan-B ? Would you be open to getting payment in exchange for updating this tool to the new FFMpeg libraries?

[2015-10-25 01:28] Kagamia commented on #11
This bug came back after your Merge work...

[2015-10-26 13:43] Ruslan-B commented on #16
To claim my fellow community :). I'm trying to switch generation to CastXML to simplify further support. The switch is quite effort by itself as assembly of CastXML is pretty tedious process, and that's the reason why I not invest time in current updates.

[2015-11-02 10:30] superware commented on #16
Ruslan-B, that's great news. I don't want to sound rude, but when do you think we'll be able to start beta testing? :)

[2015-11-04 17:29] Ruslan-B commented on #16
@superware, like I said it is tedious process, as for example it took several days just to assemble CastXML and it did appear it is far from what I need.
Right now I'm testing http://www.clangsharp.org so far it looks promising, should be able to get test example running by the end of this week (eta this Saturday). Then I'll create experimental branch as soon example project start working again.
I

[2015-11-04 17:31] Ruslan-B opened #17 "nuget package"

[2015-11-07 21:29] Ruslan-B commented on #16
@superware, experimental branch is available for testing.

[2015-11-07 21:33] Ruslan-B commented on #14
@EchterAgo, I switched generator and it looks like flag recombination is working fine, but is very experimental (check corresponding branch if so).

[2015-11-07 21:34] Ruslan-B commented on #15
closing #15 - generation is moving from python to clangsharp

[2015-11-07 21:34] #15 closed

[2015-11-07 21:37] Ruslan-B opened #18 "macros to const resolution on #experemental"
Clang macros post processing

[2015-11-07 21:38] Ruslan-B commented on #9
recheck on #experemental

[2015-11-07 21:42] Ruslan-B commented on #13
@superware , could you please recheck presence of AVIOInterruptCBDelegate, AVLogCBDelegate in 2.8.1 as looks like they not exists any more.
method signatures suppose to be corrected by now.

[2015-11-10 09:52] setimets opened #19 "Wrong dll attribute ~"
It causes an exception error when I use any of swresample-1.dll functions.
so I've changed FFmpegInvoke.cs file.
like this :

public const string SWRESAMPLE_LIBRARY = "swresample-1";
,,,,
[DllImport(SWRESAMPLE_LIBRARY, EntryPoint = "swr_alloc_set_opts", CallingConvention = CallingConvention.Cdecl, CharSet = CharSet.Ansi)]

Sorry for my lack of english.

[2015-11-10 11:47] Ruslan-B commented on #19
@setimets thanks for finding, could you please check same on the experimental branch it suppose to work there, as I'm going to discard version on master completely.

[2015-11-10 15:05] setimets commented on #19
Thanks for your the experimental branch ! :+1: It works very well ~
The experimental branch makes me amusing ! thanks ~

[2015-11-10 16:15] Ruslan-B commented on #19
good, I'll promote it to main at the end of this week. #closing #19

[2015-11-10 16:16] #19 closed

[2015-11-16 15:58] mariodivece opened #20 "Wrong libavdevice for av_opt_* av_opt_* functions are located under libavutil"
For some reason, a large amount of methods (specifically those with the prefix av_set, av_opt, etc. have their library set to libavdevice when they should really reference libavutils

[2015-11-16 16:10] Ruslan-B commented on #20
@mariodivece did you check experimental? As I'm about to merge them.

[2015-11-16 16:12] mariodivece commented on #20
Yes it was on experimental only. It worked ok on master.

Please forgive the brevity and typos. Sent from a mobile device.
________________________________
From: Ruslan Balanukhin<mailto:notifications@github.com>
Sent: ‎11/‎16/‎2015 10:10 AM
To: Ruslan-B/FFmpeg.AutoGen<mailto:FFmpeg.AutoGen@noreply.github.com>
Cc: Mario Di Vece<mailto:mario@unosquare.com>
Subject: Re: [FFmpeg.AutoGen] Wrong libavd

[2015-11-16 16:32] Ruslan-B commented on #20
@mariodivece thank you, I'll double check on that - it should be easy to fix.

[2015-11-29 17:22] Ruslan-B commented on #20
fixed and promoted to master

[2015-11-29 17:22] #20 closed

[2015-11-29 17:22] Ruslan-B commented on #16
2.8.1 promoted to master

[2015-11-29 17:22] #16 closed

[2015-11-29 17:23] Ruslan-B commented on #14
merged to master

[2015-11-29 17:23] #14 closed

[2015-11-29 17:23] Ruslan-B commented on #13
merged to master

[2015-11-29 17:23] Ruslan-B commented on #9
merged to master

[2015-11-29 17:23] #9 closed

[2015-11-29 17:24] Ruslan-B opened #21 "Update to 2.8.3"

[2015-11-30 00:39] catester commented on #21
Hi Ruslan,
Thanks for your efforts for the new generation method, I have not tested it yet but it looks more clean and flexible. I hope this change will allow instant synchronization with ffmpeg releases. For example, I just checked and they have already released v2.8.3 so I think you should change the title already and just skip v2.8.2 :)
![ffmpeg-feynman](https://cloud.githubusercontent.com/asse

[2015-11-30 12:15] Ruslan-B commented on #21
Hi @catester,
Sine I replaced generator, update shouldn't take a lot of time.
I can update to 2.8.2 almost at no time but not to 2.8.3 as main source of binaries and headers is http://ffmpeg.zeranoe.com and they don't have 2.8.3 yet.
If I'll miss the update myself :) just create an issue here but first it should be available at ffmpeg.zeranoe.com.

[2015-11-30 12:16] Ruslan-B commented on #21
![image](https://cloud.githubusercontent.com/assets/3823565/11471289/885a76c8-9764-11e5-84aa-064fb3e207fe.png)

[2015-11-30 13:12] catester commented on #21
Yeah, you are right, I forgot you were using the builds from zeranoe. For your information, I build ffmpeg easily with this awesome script cross_compile_ffmpeg.sh (from https://github.com/rdp/ffmpeg-windows-build-helpers). It's fully automatic, i.e. it downloads everything and prepares build environment. I just run it on an Ubuntu virtual machine.

[2015-12-01 00:21] Ruslan-B commented on #21
Well it is good to know and I'll keep eye on it, meanwhile try to concentrate on c macro support - as after preprocessing of c/c++ will be completely resolved we have nothing to do here :).

[2015-12-06 11:36] pottabathini opened #22 "change the inputs for ffmpeg"
I thank you for your great effort to create very useful plugin. the example you given is generating 100 frames but those are continuous.

I want something like where it generates random meaningful thumbnails, I am little confuse where the code written for giving input to ffmpeg command.

I want to use commands like:
https://trac.ffmpeg.org/wiki/Create%20a%20thumbnail%20image%20every%20X%20seconds%

[2015-12-06 13:47] Ruslan-B commented on #22
Lol what? Please define meaningful. You looking for option "output meaningful thumbnail = true" or what?
I'm wonder how this project connected the question. =)

[2015-12-07 02:04] pottabathini commented on #22
I am sorry, may be I given minimal explanation of my requirement. Let me put in other words

<b>FFmpeg.AutoGen.Example</b> in this project on <b>Program.cs</b> class you written code to generate <b>100</b> frames of images from a video(while loop). if I run that program it is giving 100 images which are in sequence like from video start to 100 frames.

I have a requirement like to generate <b>10 i

[2015-12-07 20:03] Ruslan-B commented on #22
I see no problem here, but the only way I know requires two stage processing.
During the first step you need to count amount of video frames ffmpeg.av_read_frame, obviously you should omit any decoding or/and converting.
And on the second step you need to read frames then decode them, you can skip conversion step for none lucky 10.
Moreover, optimization, but depending from the format - you actual

[2015-12-07 20:03] #22 closed

[2015-12-16 20:57] Ruslan-B commented on #21
Ok 2.8.3 is available, I'll update it tomorrow.

[2015-12-16 20:59] Ruslan-B commented on #17
Not actual atm.

[2015-12-16 20:59] #17 closed

[2015-12-21 18:00] Ruslan-B commented on #21
done

[2015-12-21 18:00] #21 closed

[2015-12-23 18:33] catester opened #23 "avio_alloc_context method signature and also uint8_t type"
Thanks for the 2.8.3 update (it also works with 2.8.4). I am not sure if it's an error or not but I found that some type conversions are different from the ones you generated before using Clang generation (old FFmpegInvoke).

For example avio_alloc_context function is generated with IntPtr* type for parameters read_packet, write_packet and seek:

[code]

I changed IntPtr* to IntPtr and it worked o

[2015-12-23 19:18] Ruslan-B commented on #23
HI @catester, I'm not surprised as difference of include files between 2.8.1 and 2.8.3 was really minor, thus we can expect same for 2.8.4.
Thanks for findings. I'll take a look how to deal with IntPtr* as if you have a pointer it is already enough :).
With respect to byte -> sbyte, it should be a big difference as in bits same size and marshaling does not make any difference. I actually tried to

[2015-12-23 19:40] catester commented on #23
Ok now this explains it, that's why the function can still work the same with sbyte. Then nevermind, the API (at least the surface I use) already works very good now :)

[2016-01-17 23:49] ViToni commented on #23
Regarding `IntPtr*` I found one more function which uses it and maybe shouldn't: `ffmpeg.av_log_set_callback`.

[2016-03-08 21:00] dajuric opened #24 "Update for the new version of FFMPEG"
Please  update for the new version of FFMPEG.
Also version of dlls is hardcoded - it should not be.
+ it won't generate *.g.cs files correctly for a new FFmpeg version (can not compile the project afterwards)

Thanks

[2016-03-09 05:54] Ruslan-B commented on #24
You shall not pass. lol

Just for future, proper English - Could you please ...

If you know how to do interop without attributes or pass dynamic values into attributes, it would be nice if you share this knowledge, besides saying  - it should not be .

Thus if you would like to use my bindings now with newer version of ffmpeg you free to do so, few options you can rename ddl's or you can change f

[2016-03-09 05:54] #24 closed

[2016-03-09 14:43] dajuric commented on #24
HI Rusian-B,

   I did not mean to offend you in any way. Obviously sending messages at 2AM is not a very good idea :).

[2016-03-09 14:46] fernando-takeshi commented on #24
You did sound like a dick :p

[2016-03-09 17:19] Ruslan-B commented on #24
Ok, topic closed :). As I updated bindings to 3.0. It involves some labor for any update - mostly becouse of limitation in clang, to be precise there are no access to macros values. As a workaround this part emmits raw tokens from the original header file. Thus after generation you need manualy resolve inconsistencies and remove faulty ones. Besides you need to regenerate list of all exported func

[2016-03-09 17:27] dajuric commented on #24
Thanks.

2016-03-09 18:19 GMT+01:00 Ruslan Balanukhin <notifications@github.com>:

[2016-04-06 09:25] ispysoftware commented on #23
also avio_alloc_context intptr* should be IntPtr - amazing project by the way, thanks!

[2016-04-06 18:33] Ruslan-B commented on #23
@ViToni thank you. I'll get back after this weekend after update.

[2016-04-25 19:30] wallmat opened #25 "Bitmap save exception"
If i take your example and let it run for more then 100 frames, using everything as is, I eventually get an exception when trying to save the bitmap. After that happens we start getting the "Could not read frame" exception too.

Do you have anyway to fix this? Or known ways to work around this.

Side Note:
I changed all the code to be C# safe ( the end goal is to use this in unity3d) and i get the

[2016-04-25 19:37] Ruslan-B commented on #25
Pardon? Original example is working

Cheers,
Ruslan

[2016-04-25 23:34] wallmat commented on #25
Did you change the while loop? if you set it to just true for example and
let it run for a while eventually i get those errors.

But I looked more into this today and the most likely cause is writing to
the same file over and over. If i instead write to a new bitmap each time
bitmap_[fameNumber] this issue never comes up.

On Mon, Apr 25, 2016 at 3:37 PM, Ruslan Balanukhin <notifications@github.co

[2016-04-26 12:14] Ruslan-B commented on #25
Looks like you found solution :). I'm closing issue then.

[2016-04-26 12:14] #25 closed

[2016-04-26 13:50] wallmat commented on #25
I did have one last question if you have time. do you know why the project
wouldn't work in Release mode? the dll path seems correct but it never
finds them.

On Tue, Apr 26, 2016 at 8:14 AM, Ruslan Balanukhin <notifications@github.com

[2016-04-26 14:36] Ruslan-B commented on #25
Example project was disabled.
I've pushed updated solution configuration:
https://github.com/Ruslan-B/FFmpeg.AutoGen/commit/c944086bfac4ab7c97aef238e2a4799747f55a49

[2016-04-26 14:38] Ruslan-B commented on #25
And with respect to exception you got - 99% you open frame.buffer.jpg in different application and it did locked this file.

[2016-05-02 11:19] pokernet opened #26 "av_parser_parse2"
hi

can you implement av_parser_parse2
are do you know any 2nd way to decode frame from memory only .

[2016-05-02 11:45] Ruslan-B commented on #26
Hi this is beyond binder support. However, you can take a look through one of my side project here: https://github.com/Ruslan-B/AR.Drone/tree/master/AR.Drone.Video

[2016-05-02 11:45] #26 closed

[2016-05-03 07:21] pokernet commented on #26
thanks i will test it

On 2 May 2016 at 14:45, Ruslan Balanukhin <notifications@github.com> wrote:

[2016-05-16 05:41] ispysoftware opened #27 "running under mono"
Hi, awesome project - thanks for writing it!
It's working fine under the .net compiler/ debugger but when I use xamarin and try to run it using the mono executable on windows i'm getting errors:

Mono: DllImport attempting to load: 'avformat-57'.
Mono: DllImport error loading library 'D:\Projects\test\bin\Debug\avformat-57': 'The system cannot find the file specified.
'.
Mono: DllImport error load

[2016-05-16 09:15] Ruslan-B commented on #27
Quite obvious this project provides bindings to native libraries, thus you need native ffmpeg binaries for the target platform. #closed

Cheers,
Ruslan

[2016-05-16 09:26] ispysoftware commented on #27
Well the target platform is windows and i'm using windows native binaries

[2016-05-16 09:30] Ruslan-B commented on #27
Then in assembly config supported by mono) you need to specify path to binares (sections for linux and osx present already).

[2016-05-16 10:15] Ruslan-B commented on #27
Or simply copy ddl next to executable then mono native module loader should discover them automatically.

[2016-05-16 11:13] ispysoftware commented on #27
hmm.. thank you for your responses but I've tried both approaches and neither is working for me. I'm new to mono - could you give me an idea of what the updates to the ffmpeg.autogen.dll.config file should look like?

Thanks Ruslan.

[2016-05-16 11:24] Ruslan-B commented on #27
Well you are first one who are trying run this using mono on windows :).
There are few links but they are mostly related to posix environment:
http://www.mono-project.com/docs/advanced/pinvoke/dllmap/
http://www.mono-project.com/docs/advanced/pinvoke/dllnotfoundexception/

On the other hand trace says that: 'D:\Projects\test\bin\Debug\avformat-57.dll' The system cannot find the file specified.

Wh

[2016-05-16 11:38] ispysoftware commented on #27
Yeah the dll is definitely found - it's loading it but there's some internal dependency that isn't resolving. I have a hunch it's some c++ merge module issue but it's hard to figure out what from that stupid error message.

I can ignore mono on windows problems, I just wanted to get it working with mono on windows before I tackled mono on linux and osx.

[2016-05-16 12:33] Ruslan-B commented on #27
http://www.dependencywalker.com ?

[2016-05-16 22:10] ispysoftware commented on #27
Yeah not sure - the executable is running fine on it's own, it runs fine under .net debugging just craps it's pants when run with mono - pretty weird. I don't know enough about mono to know where to start. Your example app does the same thing - if you run it under mono on windows you get the exact same error message. Probably a bug in mono.

[2016-05-16 22:12] Ruslan-B commented on #27
May be stupid question but did you copied all ffmpeg dll's next to executable or only mentioned in exception?

[2016-05-16 23:16] ispysoftware commented on #27
Yeah i've spent about 10 hours trying everything i can think of.

[2016-05-16 23:29] Ruslan-B commented on #27
I can take a look in few week (on vacation now). I can assume you trying to run example project on mono. Could you please provide mono version (xamarin) and windows version.

[2016-05-17 00:26] ispysoftware commented on #27
Sure - windows 10 64 bit, xamarin studio 5.10.1 build 6.

just to reiterate, it works fine in VS 2015 and in xamarin with .net, and just running the executable from the bin folder. If you right click the project in xamarin and click "run with..." and select "mono 4.2.3 (visual)" that's when you get the error.

[2016-05-17 11:49] Ruslan-B commented on #27
Just in case :) - did you tried to keep all ddl's (64 bit) next to exe and delete FFmpeg.AutoGen.dll.config?

[2016-05-18 01:45] ispysoftware commented on #27
Just tried that, same issue :(

[2016-05-18 08:02] pokernet commented on #26
hi thanks for you help
this link help me to find my way
but i have last problem !
ffmpeg.auto use sbyte[] for ffmpeg.sws_scale or more functions
and you demo use bytes[]  for video convert
may be you cajn help me how can i solve this

thanks

On 3 May 2016 at 10:21, xroot <xroot0@gmail.com> wrote:

[2016-05-18 08:05] ispysoftware commented on #27
Right i don't know what I did but it just started working. Sorry for wasting your time.

[2016-05-18 09:01] Ruslan-B commented on #26
No difference just use byte insted of sbyte.

[2016-05-18 09:28] Ruslan-B commented on #27
Good!

[2016-05-18 09:28] #27 closed

[2016-05-18 09:50] pokernet commented on #26
[image: Inline images 1]

i try to use it as is but i get error
i add screenshut for you to see

Thanks for helping

On 18 May 2016 at 12:01, Ruslan Balanukhin <notifications@github.com> wrote:

[2016-05-20 10:23] EchterAgo commented on #23
Also ffmpeg.av_log_set_callback

[2016-05-26 13:51] wallmat opened #28 "stream asx"
When streaming and http that returns an asx it seems to only find one stream, the audio so we are unable to stream. is there a way to parse the asx to get the video stream correctly with your wrapper?

example url,
HTTP://nsx.nvfast.org:80/wme_-_las_vegas_blvd_and_charleston_

This is a traffic camera from Las Vegas. This works in VLC (used for testing) but i am not sure how to get the correct dat

[2016-05-26 14:11] Ruslan-B commented on #28
How this question released to ffmpeg bindings???

[2016-05-26 14:11] #28 closed

[2016-06-05 17:17] filoe opened #29 "AVFrame missing hw_frames_ctx field?"
It seems like the AVFrame struct is missing the hw_frames_ctx field.
See http://ffmpeg.org/doxygen/trunk/structAVFrame.html
Am I wrong?

[2016-06-05 17:25] Ruslan-B commented on #29
I guess it will be a part of next release. I'm regenerating bindings only for stable minor or major releases.

[2016-06-05 18:01] filoe commented on #29
Ahh I see, I've the latest download from the ffmpeg website with compiled binaries and got some strange values in the channels field. So I've had a look at the provided header files and found out that there was missing the mentioned field. Their release management is quite confusing.

[2016-06-05 18:01] #29 closed

[2016-06-05 18:53] Ruslan-B commented on #29
Do not say :). I'm grabbing binaries and headers coupled from here: https://ffmpeg.zeranoe.com/builds/win64/dev/
But again only with release number on archive.

[2016-06-27 09:43] bellekci opened #30 "__STDC_CONSTANT_MACROS error"
After I build the FFmpeg.AutoGen.ClangSharpUnsafeGenerator project and I try to run FFmpeg.AutoGen.ClangSharpUnsafeGenerator.exe, I get following error:

[code]

Do you have any idea about how to fix it?

[2016-06-27 12:24] Ruslan-B commented on #30
It is known as issue #18. You can complete generation process automatically at the moment - connected with some limitations in macros api for clang.
Normally there is no need in binder generation- as it is already generated. Just get source code build it and use the bindins assembly.

[2016-06-27 12:24] #30 closed

[2016-07-04 20:41] Ruslan-B opened #31 "Work in prgress switch generator to CppSharp"
Related #18 and #23

[2016-07-12 12:35] catester opened #32 "FFmpeg 3.1.1 "Laplace" support"
If you use FFmpeg 3.1.1 DLLs with current 3.0 bindings **avcodec_find_decoder** method always returns null so it's pretty unusable for opening video files.

So I tried to regenerate the bindings for 3.1.1 exports but it generated some crazy code which is not even compilable, for example:

[code]

So it directly puts macros like AV_VERSION_INT (can't resolve it?) and marks all constants int instead

[2016-07-12 19:21] Ruslan-B commented on #32
I'll update library as soon build appear at https://ffmpeg.zeranoe.com/builds/
And yes it is know problem as #18 and it is also connected with #31.
But for now I fixing macroses manualy.

[2016-08-30 15:28] BrannonKing opened #33 "example code fails to release packets"
The example code has a bad memory leak: it fails to release the frame packets. I have that fixed in my working code, which I've included below. In the spirit of reposting your modified MIT code, feel free to pull from that code to update your examples. It comes as complements of ASI (http://asirobots.com/), who is looking for more software engineers at the moment.

[code]

[2016-08-30 19:16] Ruslan-B commented on #33
@BrannonKing I really appreciate your report, and I'll see the problem as it was overlooked in the original clang example from ffmpeg. Since I ported it they already change it.
With respect to above listing is rather useless for me. I guess I do not need to explain why :).
Besides I really glad that your are looking for engineers but may I ask how it is related to this issue?

[2016-09-03 19:54] csnewman opened #34 "av_version_info causes AccessViolationException"
When using the ffmpeg.av_version_info method, I get a "System.AccessViolationException", here are some of the details:
"Attempted to read or write protected memory. This is often an indication that other memory is corrupt."
Stacetrace
`   at Microsoft.Win32.Win32Native.CoTaskMemFree(IntPtr ptr)`
`   at FFmpeg.AutoGen.ffmpeg.av_version_info()`
`[REMOVED]`

I have found two ways of fixing this,
- Us

[2016-09-15 11:02] StCyr opened #35 "Building with mono under Debian 9"
Hi,

While trying to build FFmpeg.AutoGen with monodevelop (version 5.10.0.871-2) under Debian 9 (strech/testing), I ran into the following problem: ddlmap statements for the "linux" OS in FFmpeg.AutoGen.dll.config missed the .so part in their name.

Here's the original FFmpeg.AutoGen.dll.config file's content:

[code]

I had to change it to the following to be able to run FFmpeg.Autogen.Example:

[2016-09-15 13:19] StCyr commented on #35
Ok, my bad.

I'm seeing now that it is expected to change these values.

[2016-09-18 13:51] GoaLitiuM commented on #32
Any news/progress on this?

It looks like zeranoe stopped producing versioned builds, and recommends to use the latest git build at all times suggested by the blog posts in the site.

[2016-09-18 14:25] Ruslan-B commented on #32
Ok, I'll take a look.

Cheers,
Ruslan

[2016-09-21 15:50] Ruslan-B commented on #32
I'll generate new bindings on or before 24-09-2016

[2016-09-21 15:51] Ruslan-B commented on #35
I guess we can close this.

[2016-09-21 15:51] #35 closed

[2016-09-21 15:52] Ruslan-B commented on #34
Thank you. I'll take a look on or before 24-09-2016

[2016-09-23 15:16] anhlunnhaque opened #36 "Encode2Stream"
First of all. Great project and I think this is the latest .NET ffmpeg project.

I am new to ffmpeg and was wondering if FFmpeg.AutoGen is able to encode to stream. I would like to read a local file (c:\temp\file.mkv),
encode it into streams then live stream it to a client. The request would go through via MVC WebApi with headers that specify resolution to encode etc..

Any examples would be appre

[2016-10-04 07:31] Ruslan-B commented on #36
Hello AL,

Yes it can, there a bunch of examples in C, they portable almost one to one, implying that you know .
If you are looking for specific example I would advice you to ask same thing on stackoverflow.

Cheers,
Ruslan

[2016-10-04 07:31] #36 closed

[2016-10-05 10:42] OhSoGood opened #37 "AvFrame changed from byte[] to sbyte[] ?"
Hi,
First a big thank for your work on ffmpeg - I do appreciate it!

My code is using an old version of your wrapper (based on FFmpeg 2.3.6, from 2015-01-06).
I wanted to upgrade to your latest release, but discovered that the AvFrame struct is now using sbyte pointers instead of byte pointers for dataX fields (your commit as of Nov 7, 2015). Yet, all my code in the upper classes uses bytes (byte

[2016-10-05 16:31] Ruslan-B commented on #37
Hi @OhSoGood ,
The reason behind change - string marshaling you need to duck cast byte* to sbyte* every time, so it just bizarre thing in .net marshaling.
But long story short according to [this post](http://stackoverflow.com/questions/829983/how-to-convert-a-sbyte-to-byte-in-c) you just can duck cast to byte[] it and will work fine.

Cheers,
@Ruslan-B

[2016-10-05 16:31] #37 closed

[2016-10-05 19:48] #23 closed

[2016-10-05 19:48] #32 closed

[2016-10-05 19:48] #33 closed

[2016-10-05 19:49] Ruslan-B commented on #34
Thank you I integrated this fix manually by now by I'll add to generation process as well.

[2016-10-05 20:09] #34 closed

[2016-10-05 20:09] Ruslan-B commented on #31
Not viable.

[2016-10-05 20:09] #31 closed

[2016-10-06 06:55] OhSoGood commented on #37
Thanks a lot for the quick reply!

[2016-11-20 10:18] superware commented on #13
I still must manually define:
[code]
In order to use an `AVIOInterruptCB`:
[code]
Any other way to assign the callback? if not, shouldn't AVIOInterruptCBDelegate be added?

Thanks!

[2016-11-20 18:20] Xcone opened #38 "FFmpeg 3.2"
Hi,

Awesome job on this AutoGen project! It's proven very useful.

My software suffers from a thread-handle leak in an older version of zeraroe FFmpeg. After updating to 3.1.4 (that comes with current version of AutoGen) the leak is still applicable. But when I use the DLL's of version 3.2 the thread handle leak appears fixed. Unfortunately, some random Access Violation may occur after several ho

[2016-11-20 18:39] Ruslan-B commented on #38
Hi Koen,
Yes, some manual steps are needed - some macros needs to be fixed manually (or dropped). I'll update library by the end of tomorrow.
Cheers,
Ruslan

[2016-11-21 19:07] #38 closed

[2016-11-21 20:33] Ruslan-B commented on #13
@superware now I've got the problem.
the generator struggles to go over this constructions:
typedef struct AVIOInterruptCB {
    int (*callback)(void*);
    void *opaque;
} AVIOInterruptCB;
I can take a look how to resolve this (if possible).

[2016-11-21 21:09] Ruslan-B commented on #13
@superware well the problem here:
[code]
unsafe pointers delegates are illegal in C#

[2016-11-21 21:25] Ruslan-B commented on #13
Well it appears you cannot use the pointer to structure with delegates.
Thus the only possible solution to wrap entire struct and apply Marshal.GetFunctionPointerForDelegate in wrapper.

[2016-11-22 11:03] superware commented on #13
I didn't understand you fully, if you include the following in the generated code:
[code]
Then it's easy to set `interrupt_calback` by:
[code]

[2016-11-22 11:19] superware commented on #13
If the delegate is inside it might be "cleaner":
[code]

[2016-11-22 14:04] Xcone commented on #38
Hi Ruslan!

I see you already processed the update. Amazing!
I'll grab the update and give my tests another try to see if I have more success now.

Thanks!
Koen Visser

[2016-11-23 18:27] Ruslan-B commented on #13
@superware

[code]
What do you think about this?

[2016-11-23 18:38] Ruslan-B commented on #18
Going to make another round with  CppSharp.

[2016-11-23 20:20] superware commented on #13
Messy IMHO, why not simply:
[code]
[code]
[code]

[2016-11-23 20:46] Ruslan-B commented on #13
well than you do not need to use  new AVIOInterruptCB.CallbackDelegate(InterruptCB) and Marshal.GetFunctionPointerForDelegate(cb).
Assuming InterruptCB method is defined it will look like:
[code]

[2016-12-01 09:27] feliwir opened #39 "Support .net core"
Hey, it would be nice if it was also possible to generate Bindings for .net core

[2016-12-01 15:11] ChenZhaobin opened #40 "images to mp4"
I am very appreciate for your wonderful work ,since I am not familar with your lib yet,could you give us an example of how to use autogen to convert images to mp4?

[2016-12-01 15:36] Ruslan-B commented on #39
I'll take a look, just wondering myself does the PCL infrastructure supporting interop and usafe c#.

[2016-12-01 15:45] Ruslan-B commented on #40
@ChenZhaobin I truly appreciate your interests, but I would advice you to move this question to stackoverflow.com or search for an example in c(lang) with some effort you can convert to c# as ffmpeg functions and structures are equal.

[2016-12-01 15:45] #40 closed

[2016-12-01 16:18] feliwir commented on #39
I'd suggest using a .net standard library. It runs on .Net core, Xamarin and .Net framework

[2016-12-01 17:51] Ruslan-B commented on #39
after short investigation looks like  we need .NET Standard 2.0 in order to get ICustomMarshaler for ConstCharPtrMarshaler. And this working only for Visual Studio 2017. Host stuff! :)

[2016-12-01 23:02] Ruslan-B commented on #39
bah just figured out - @feliwir I beg a pardon but do you have native ffmpeg for any of Xamarin platforms?

[2016-12-01 23:13] feliwir commented on #39
No sorry :( I am not doing any mobile programming normally

[2016-12-01 23:18] Ruslan-B commented on #39
But then why? do you need it for core

[2016-12-01 23:24] feliwir commented on #39
No, i just said that .net standard bindining works on all those platforms.

[2016-12-02 07:17] feliwir commented on #39
Yes, i need it for .net core

[2016-12-02 08:44] mdimaculangan opened #41 "Issue streaming H264 video via RTP"
Currently, we cannot stream H264 video sent via RTP. We we're able to get the input and stream info but we have gotPicture always set to 0 when we decode.

We are wondering if we are missing anything in the configuration to make this work. We also found some old articles that suggest to remove first the RTP header and reconstruct the fragments before decoding the byte[].

[2016-12-02 10:03] Ruslan-B commented on #41
I simply cant help here and would advice you to move this question to stackoverflow.com.

[2016-12-02 10:03] #41 closed

[2016-12-02 10:12] Ruslan-B commented on #39
Right now you can reassemble the project yourself it should work, Meanwhile I'll wait for official release of VS2017 and after I can consider to update to standard 2.0.

[2016-12-02 23:19] GoelBiju opened #42 "Distributing FFmpeg.AutoGen"
Hi,

I am quite new to this library but currently I have the example working fine. I was thinking of maybe integrating the library into a C# project, though I am unsure as to how I would distribute it.

I am planning on thinking of using the 32-bit FFmpeg DLLs so that it would run on both 32-bit and 64-bit computers however would I need to provide compiled 32-bit and 64-bit version's of the FFmpeg

[2016-12-03 12:49] GoelBiju commented on #42
I think I solved my own issue. I built the FFmpeg.AutoGen.Example as a 32-bit process and provided the 32-bit shared FFmpeg DLL library.

Thanks.

[2016-12-03 12:49] #42 closed

[2016-12-05 14:55] GoelBiju opened #43 "Access AVFrame data"
Hi,

I am quite new to FFmpeg and the AutoGen library and was wondering as to how I can access the data within an allocated AVFrame.

I allocated an AVFrame via

[code]

However I cannot access the data when calling:
[code]
since doesn't exist, I only have access to data0 up until data7.

I was trying to encode pixel data which was gained from decoding a JPEG image via av_send_packet() and av_rece

[2016-12-05 16:19] Ruslan-B commented on #43
Hello, I would advice you to move this question to stackoverflow.com or search for an example in c(lang) with some effort you can convert to c# as ffmpeg functions and structures are equal.

[2016-12-05 16:19] #43 closed

[2016-12-06 02:58] ChenZhaobin commented on #40
Thanks !

[2016-12-12 21:24] GoelBiju opened #44 "AVFrame.data contruct"
Hi Mr. @Ruslan-B ,

I posted a week before saying how I had no access to AVFrame.data and that I could only use AVFrame.data0 - AVFrame.data7. Would it be possible if we could access AVFrame.data by just constructing a list of the pointers to the data from data0 to data7?

Thank you.

[2016-12-13 21:14] Ruslan-B commented on #44
Well, short answer no, as data0 - data7 is a lesser common evil. The long one this just limitation of c# interop as you cannot use fixed array here because pointer is not an interop blessed type for fixed arrays.
Technically it is possible to generate an extension here but you can do it yourself as well.
Could you please provide a use case here?

[2016-12-14 14:47] GoelBiju commented on #44
Thanks for the reply Mr. @Ruslan-B ,

I had made a sample program to try to encode an image file into 1 frame of video data. [Here](https://github.com/GoelBiju/FFmpeg.AutoGen.Samples/blob/master/samples/FFmpeg.AutoGen.Samples/Program.cs#L270) is the main issue, I cannot seem to access sbyte*[] pointers to get the AVFrame.data and to get the AVFrame.linesize. This has been an issue especially when

[2016-12-14 17:58] Ruslan-B commented on #44
Well in the example I see decoding not encoding.
Any way if you deduce the type you will get something like this ```sbyte** src = &pDecodedFrame->data0;```.
You should read it like **address of** pDecodedFrame->data0 - which is a pointer to a pointer of data0.

Thus if you would like to access a frame data you need write something like this:
[code]
If you would like to pass a data from c# size you

[2016-12-15 21:19] GoelBiju commented on #44
Thanks for the help Mr. @Ruslan-B , I will give this a try and sorry it was decoding. I was trying to make the image file from YUVJ422P to YUV420P so then I can encode that via the flv1 encoder in FFmpeg.

[2016-12-15 21:29] Ruslan-B commented on #44
Okey, than I'm going to close this issue, if any need any help just send an email.

[2016-12-15 21:29] #44 closed

[2016-12-15 21:52] GoelBiju commented on #44
Sure, again thank you Mr. @Ruslan-B .

[2017-01-22 22:58] Ruslan-B opened #45 "av_image_alloc is unusable"
av_image_alloc is unusable, however not critical as can be allocated in .net

[2017-01-23 22:43] Ruslan-B opened #46 "create h264 encode example"

[2017-01-24 22:33] Ruslan-B opened #47 "create muxing example"
so here [port](https://gist.github.com/Ruslan-B/43d3a4219f39b99f0c9685290dcd23cc) of https://github.com/FFmpeg/FFmpeg/blob/master/doc/examples/transcoding.c

[2017-02-08 03:06] ispysoftware opened #48 "replace intptr with StringBuilder in avutil.g.cs"
In avutil.g.cs, should be

        [DllImport(libavutil, EntryPoint = "av_log_format_line", CallingConvention = CallingConvention.Cdecl, CharSet = CharSet.Ansi)]
        public static extern void av_log_format_line(void* @ptr, int @level, [MarshalAs(UnmanagedType.LPStr)] string @fmt, sbyte* @vl, StringBuilder @line, int @line_size, int* @print_prefix);

        [DllImport(libavutil, EntryPoint = "

[2017-02-08 06:35] Ruslan-B commented on #48
I'm not quite convinced that you should use managed StringBuilder here as this is receiving buffer.
Besides trying to guess why do you even need to call these functions from C#.
Could you please elaborate?

[2017-02-08 09:16] ispysoftware commented on #48
Hello yes, I'm using it to log ffmpeg output. Converting the signature
IntPtr to a StringBuilder was the only way I could get it to work - and it
does work fine.

     private static IntPtr _delegatePtr;
     private static AvFormatLogCallback _avLogCallback;

     public static unsafe void SetFfmpegLogging(bool log)
   {
       if (log)
       {
           ffmpeg.av_log_set_level(ffmpeg.AV_LOG_IN

[2017-02-08 21:15] Ruslan-B commented on #48
Well, the byte buffer should work in the same way, then you can convert it to string.
I know it is not optimal, but I think you can't just replace all ```char *``` to the ```StringBuilder```.

[2017-02-13 21:48] Ruslan-B commented on #48
I'll try to address in current migration to CppSharp.

[2017-02-13 23:01] ispysoftware commented on #48
It's fine, i modified our code to use a byte array and it's working ok.
Just means you have to use GC or unsafe.

On Tue, Feb 14, 2017 at 5:48 AM, Ruslan Balanukhin <notifications@github.com

[2017-02-16 20:02] bp2008 commented on #47
I'd love to see this, because I've been following generic ffmpeg examples trying to mux to mkv format and it always fails at ffmpeg.avformat_write_header() with error code -22 which is "Invalid argument".

Gosh I hate generic error messages.  Not sure if I am doing something wrong or if this library is currently broken for muxing :)

[2017-02-16 20:45] Ruslan-B commented on #47
I'll definitely add this but it will take some time as right now I'm switching ClangSharp to CppSharp.
I'm expecting better support for macros, delegates and fixed arrays. Right after I'll add encoding and muxing examples.
And you are quite right it is like a mine field. :)

[2017-02-16 20:59] Ruslan-B commented on #18
in progress on experemental

[2017-02-16 21:03] bp2008 commented on #47
I do have one thing to note which might affect a muxing example.  When you want to mux straight to memory (not to a file), you use the method `avio_alloc_context` which takes two callback functions as arguments.  I couldn't figure out how to call the method as it was written in FFmpeg.avformat.g.cs.

    [DllImport(libavformat, EntryPoint = "avio_alloc_context", CallingConvention = CallingConventi

[2017-02-16 21:14] Ruslan-B commented on #47
Thank you! I'll take it into account.

[2017-02-16 22:45] bp2008 commented on #47
I don't know what I was doing wrong the first time, but I did just get my attempt at transmuxing working.  First with ffmpeg writing the output to a file, then with ffmpeg feeding me raw byte buffers through the callback method as illustrated above.  I may be able to pack it up into a tidy example class if you want.

It should be noted that my fix for the `avio_alloc_context` method above isn't qu

[2017-02-17 19:58] #18 closed

[2017-02-17 20:16] #45 closed

[2017-02-17 23:33] Ruslan-B commented on #13
implemented as
[code]

[2017-02-17 23:33] #13 closed

[2017-02-19 15:15] Ruslan-B commented on #48
After reworking of the binding generation. I reviewed your code once again.
This my unsafe version:
[code]
I also integrated this pice into example.

[2017-02-19 15:15] #48 closed

[2017-02-19 15:30] Ruslan-B commented on #47
Well, I've managed to finish my epic with switching to CppSharp. It works again and I'm pleased with the result as I managed to add insane amount of convenience features than it used to be.
Looked once again through the thread it looks like your callback is missing this
```Marshal.GetFunctionPointerForDelegate```.

The newest version of bindings will do this by default via implicit convertion for

[2017-02-19 17:05] bp2008 commented on #47
Oooh, very nice.  Hopefully that explains why I got null a reference exception at ffmpeg.av_interleaved_write_frame() after calling it successfully a few times ... but only in release builds and only when run outside the debugger!  Perhaps some funky memory management going on.

[2017-02-19 19:16] Ruslan-B commented on #47
I guess because of garbage collector just moved the pointer into a different place.

[2017-02-21 16:49] bp2008 commented on #47
I can confirm the method you posted using implicit conversion works, and does not crash where my own attempt did.  This interop is delicate stuff.

[2017-02-28 15:38] Johanneshn commented on #47
Been trying to use the included example as a start to mux a video file (just copying the stream directly to a new file, ideally from an RTSP stream). But I keep failing on av_interleaved_write_frame

Would it be possible for someone to provide an example of this?

[2017-02-28 15:45] bp2008 commented on #47
Yeah, hold on, I'll upload my example...

[2017-02-28 16:01] bp2008 commented on #47
This isn't very clean, as this solution has a bunch of half-implemented or buggy implementations of various things, but I got the TransMuxer class working well enough for my purposes.

[https://drive.google.com/open?id=0B5Wyo1lySkUEQ3BsUlBZZlIzSWM](url)

See FFMpegWrapper/TransMuxer.cs for the re-muxing example.  See TestFFMpegWrapper/Program.cs for how the example is called.  One thing I discover

[2017-02-28 16:03] bp2008 commented on #47
Also notable is that in the end I couldn't get it working when I give a file name to ffmpeg and expect it to mux to a file all on its own.  I had to use the callback and write to the file with C#.

[2017-02-28 16:08] Johanneshn commented on #47
Thank you @bp2008!
I'll take a look at the code and start investigate

[2017-02-28 16:09] bp2008 commented on #47
One more thing, my TransMuxer class was designed specifically to deal with never-ending streams.  So it doesn't ever write a the file trailer (which would be necessary for a format like .mp4 but it seems that .mkv does not require one).

[2017-02-28 16:15] Johanneshn commented on #47
Thanks, I'll have that in mind working with .mp4. My plan is to save short video segments from a never-ending surveillance camera stream.

[2017-02-28 16:23] bp2008 commented on #47
Yup, you will need to write the trailer then.  Luckily for my purposes .mkv was perfect because you can re-mux to that format on the fly with negligible CPU usage and send it to Chrome, which will play the format natively with only a couple seconds of delay.

[2017-03-02 11:00] Johanneshn commented on #47
@bp2008 I've been going through your code and it has helped me getting a better understanding.
But it seems that I cant use your code to preform h.264 -> mp4 for some reason..

No matter what I do **av_interleaved_write_frame** always seems to throw 'System.AccessViolationException' or returns -22.

Is **avio_alloc_context** with a callback is currently the way to make it work? You mentioned that

[2017-03-02 16:35] bp2008 commented on #47
I could find some problems in your code, and uploaded an improved copy, but in the end it still has the same error and I don't know why.

Here is what I changed in your program:

1) You accidentally called `avformat_open_input` twice right next to each other.
2) You used `avformat_open_input` on the output stream, which is wrong.  You've also never told it the output file name.  Try `avformat_allo

[2017-03-06 08:09] Johanneshn commented on #47
Thank you so much for your help, I really appreciate it.
I'm sorry that you had to go through some obvious mistakes (WriteLine etc.) I forgot to change from the imported C++ code.

At least we have come to the same conclusion, I'll keep experimenting and see if I can make it work.

[2017-03-15 08:16] Ruslan-B commented on #39
It will be possible only after .NET Core 2.0 release, as ICustomMarshaler is not supported in .NET Core 1.1

[2017-03-15 11:16] Ruslan-B commented on #46
pardon?

[2017-03-15 12:15] Ooomyhat commented on #46
Hello. I want to per frame decode/encode video h.264. It's ok, but i can't create copy of decoder in encoder(input and output files are very different). How to set the same parameters, acquire same bitrate, filesize. I try to use avcodec_copy_context, but I have error. Any suggestion? Give me please encoder/decoder example with codec copy

[2017-03-15 12:16] Ooomyhat commented on #46
Spasibo

[2017-03-15 12:55] Ooomyhat commented on #46
Can You help me?

[2017-03-15 12:56] Ruslan-B commented on #46
I only can point you into right direction.
This is not exactly what are you looking for but this  is encode part which is working.
If this is not sufficent please repost your question on stackoverflov.
[code]

[2017-03-15 13:00] Ooomyhat commented on #46
Ok, thank you

[2017-06-01 14:35] pokrnet opened #50 "Example error on hi resulotion like 1920x1080 Crash !!!!"
var convertedFrameBuffer = stackalloc byte[convertedFrameBufferSize]; stackoverflow error ?

[2017-06-01 16:38] Ruslan-B commented on #50
Quite obvious stack size has limits - allocate array and pin it.

[2017-06-02 05:00] pokernet commented on #50
hi ruslan,
thanks for the answer
may be you can fix the example to support high resulotion or my be you can give me example how to fix this

[2017-06-02 11:47] pokernet commented on #50
ok i find the fix 👍
if any one need to use it with high resolution  buffer this is working ->

-->
 var dataArray_onvertedFrameBuffer = new byte[convertedFrameBufferSize];
            var dstData = new byte_ptrArray4();
            var dstLinesize = new int_array4();
            fixed (byte* array = dataArray_onvertedFrameBuffer)
            {
ffmpeg.av_image_fill_arrays(ref dstData, ref dstLinesi

[2017-06-02 19:04] Ruslan-B commented on #50
yes, that it

[2017-06-29 09:31] xupefei opened #51 "License for the generated files?"
Hi, thanks for this wonderful tool. We now have a project which is using the output from this tool, and we want to publish it to NuGet by either MS-Pl or MIT(discussion [here](https://github.com/unosquare/ffmediaelement/issues/1)). One remaining block ahead is the license issue: we are not sure about the license of the output from your AutoGen program because [the output of a GPL program is not au

[2017-06-29 15:23] Ruslan-B commented on #51
Hi, I'm not a licensing guru but the input files (ffmpeg headers) are licensed under LGPL v2 and the only legal action is to link dynamically using these files.
Strictly speaking, the generator creates a derivative work as it copies pretty much everything preserving macroses, names and comments were possible and some if that stuff might fall under copyright.
Thus to avoid any collisions I'm using

[2017-06-29 19:59] mariodivece commented on #51
Thank you @Ruslan-B , it looks like I will have to copy your LGPLv3 license for the generated code and deploy it as a separate assembly, plus not provide any sort of FFmpeg binaries in the NuGet package in order to keep it as MS-PL or MIT. Thanks again for keeping this project updated!

[2017-06-30 08:03] xupefei commented on #51
Thanks @Ruslan-B for the explanation. I think the issue can now be closed 👍

[2017-06-30 08:03] #51 closed

[2017-07-17 14:14] mbullock976 opened #52 "Green color shift encoding RGBA to YUV420p"
Hi,

I was wondering If you could help. I'm currently taking converting RBGA bitmaps to YUV420p before encoding the frames with h264 codec and dumping the encoded packets to file successfully.

I'm also able to playback the h264 video file in VLC. However, there seems to be a color shift which is more apparent where grey is actually light tint of screen. I'm used a an animation video as my example

[2017-07-17 15:59] CraigN commented on #52
Most likely an issue with the input data not being in RGBA pixel format.

[2017-07-17 16:52] Ruslan-B commented on #52
Indeed it looks like pixel format issue. I would recommend to check this issue: https://github.com/Ruslan-B/FFmpeg.AutoGen/issues/46 as it has working encoding example.
I used OpenCvSharp for the colour conversion.
In your case if you don't wnat to depend on any other 3rd party you can try to add second convertion context (convert it back) in order to check whatever you are providing right input d

[2017-07-28 07:44] Ruslan-B commented on #52
Closing issue as rather stackoverflow.com question.

[2017-07-28 07:44] #52 closed

[2017-07-30 20:22] MrBean2016 opened #53 "Access to TimeCode functions?"
I cannot find the functions for timecode conversion like av_timecode_get_smpte_from_framenum

https://www.ffmpeg.org/doxygen/2.1/libavutil_2timecode_8h.html

Where can I find them?
thanks,

[2017-07-31 07:39] #53 closed

[2017-07-31 09:36] Ruslan-B commented on #53
This header file wasn't included. Now it is. I also updated ffmpeg version to 3.3.2.

[2017-07-31 13:05] Ruslan-B commented on #39
I added experimental support.

[2017-07-31 13:07] Ruslan-B opened #54 "Create a nuget package"

[2017-08-01 20:30] MrBean2016 commented on #53
Great! Thanks

[2017-08-04 05:14] ispysoftware opened #55 "AV_NOPTS_VALUE removed"
Any reason?

[2017-08-04 05:28] Ruslan-B commented on #55
Context?

[2017-08-04 05:34] ispysoftware commented on #55
in **public unsafe struct AVPacket**:

/// <summary>Presentation timestamp in AVStream-&gt;time_base units; the time at which the decompressed packet will be presented to the user. Can be AV_NOPTS_VALUE if it is not stored in the file. pts MUST be larger or equal to dts as presentation cannot happen before decompression, unless one wants to view hex dumps. Some formats misuse the terms dts and pts

[2017-08-04 06:28] Ruslan-B commented on #55
It is in place actually as malformed macro:
       // public static  AV_NOPTS_VALUE = ((int64_t)UINT64_C(0x8000000000000000));
My macro parser is quite limed. Thus at the moment you need to define this constant yourself.

[2017-08-04 06:29] ispysoftware commented on #55
yes is saw that, uncommenting it doesn't work as int64_t can't be resolved - any idea how to set it?

[2017-08-04 06:41] ispysoftware commented on #55
.. it used to be

public const ulong AV_NOPTS_VALUE = 0x8000000000000000;

[2017-08-04 08:08] Ruslan-B commented on #55
You know that all this code is auto generated aren't you? Thus in case you would like to have this value here there are two options:
- contribute try to fix in original C header (by some reason they put in place this double cast).
- contribute good generic fix to macro parser to my progect as adding/fixing stuff by hands is not an option.
Beside, you still going to have small amount of macroses ba

[2017-08-04 08:08] #55 closed

[2017-08-04 10:56] ispysoftware commented on #55
Hello yes i know its autogen.. if the autogen isnt working though it's
probably easier to manually fix something like this that is rather critical
to the library. The FFMPEG guys keep making massive changes to the api.
Quite frustrating!

On 4 Aug. 2017 16:08, "Ruslan Balanukhin" <notifications@github.com> wrote:

[2017-08-04 14:05] Ruslan-B commented on #55
Any way I'll try to improve macro parser but I cannot promise any backward compatibility connected with ffmpeg api changes either this specific constraint being resolved.

[2017-08-15 04:09] dinhle2010 opened #56 "Add more library to FFmpeg.Autogen"
Hi Ruslan,

The project FFmpeg.Autogen is helpfull for me, but it only simple function. I want to add more function same FFmpeg.exe tool. How i can do that. Please help me.

Thanks,

[2017-08-15 04:12] mariodivece commented on #56
You will need to port ffmpeg.c
The source is all on GitHub. Good luck :S

[2017-08-15 04:23] dinhle2010 commented on #56
Hi @mariodivece,
How about c#. I only know c# :)
Thanks,

[2017-08-15 07:19] dinhle2010 opened #57 "Convert image list to video (example)."
Hi Ad,
I Want to used FFmpeg to convert list image to video. Please show me how can do that on FFmpeg.Autogen project.

Thanks,

[2017-08-15 08:44] Ruslan-B commented on #56
You **need** to know both languages. Closing Issue as to it is generic question.

[2017-08-15 08:44] #56 closed

[2017-08-15 08:45] Ruslan-B commented on #57
You can get an inspiration from https://github.com/Ruslan-B/FFmpeg.AutoGen/issues/46.
Please use stackoverflow.

[2017-08-15 08:45] #57 closed

[2017-09-01 17:28] iamcarbon opened #58 "AVUtil Bindings"
We're in the process of porting some C++ code to ffmpeg and uncovering heavy usage of various AVUtil functions within libavutil.

Have you considered adding these bindings to the library?

[2017-09-01 18:25] Ruslan-B commented on #58
Good to hear it.

[2017-09-03 12:45] mariodivece opened #59 "Add hwaccel APIs"
@Ruslan-B Could you please add the hwaccel.h reference to the project?
User @iwarp has done it and provided me with his project files:
https://github.com/unosquare/ffmediaelement/files/1263051/FFmpeg.AutoGen.zip

It would be great if you could merge these changes so hwaccel APIs become available for everyone.
For additional background info please refer to:
https://github.com/unosquare/ffmediaeleme

[2017-09-03 13:29] Ruslan-B commented on #59
@mariodivece
It looks like it is relatively easy to add this API.
However, I have few question maybe you or @iwarp can help me with depends from answers it might speed up the process :
1.  I have this in Windows Kits:
C:\Program Files (x86)\Windows Kits\10\Include\10.0.15063.0\ucrt
But I don't have these:
C:\Program Files (x86)\Windows Kits\10\Include\10.0.15063.0\shared
C:\Program Files (x86)\Win

[2017-09-03 20:07] iwarp commented on #59
Hi @Ruslan-B,
I had enabled Intel QSV, Cuda Video, DXVA and D3D11 in order to directly access the GPU textures returned from the decode. I'm currently trying to get the texture to draw directly via D3DImage without the CPU based pixel format changes to further reduce CPU playback. Some of these can be omitted as we and leave the FFmpeg avutil to abstract that layer away.

1. This is for the DXVA a

[2017-09-04 19:00] Ruslan-B commented on #59
Hi @iwarp, thanks for update please keep me posted wrt further progress. Meanwhile, I'll try to figure out the best way of integration.

[2017-09-12 06:22] iwarp commented on #59
Hi @Ruslan-B,
I've managed to get D3D11 decoding and displaying the Texture2D. I don't think there is anything else i need to add.

What needs to be done to get this added?

[2017-09-12 15:59] mariodivece commented on #59
Yep. Also waiting on this to include it in FFME. Thanks @Ruslan-B and @iwarp

[2017-09-12 17:32] Ruslan-B commented on #59
@iwarp @mariodivece sorry folks hadn't much time recently. I'm looking right now and trying to workaround need of ffmpeg headers modification. @iwarp any hits or at-least origin of these changes?

[2017-09-12 19:50] Ruslan-B commented on #59
Folks, I added D3D11 hwcontext support without modifying any headers. Is it enough? Or you still would like to mfx support?

[2017-09-12 20:13] mariodivece commented on #59
Is dxva2 (d3d 9) included with this change? I believe dxva2 is the most common. My plan is to try to create a d3d11 hw context and if this fails then create a d3d 9 context. If all hw fails, fallback to software only.

[2017-09-12 20:33] Ruslan-B commented on #59
yes, it is included. I added libavutil/hwcontext.h, libavutil/hwcontext_dxva2.h, libavcodec/dxva2.h, libavcodec/d3d11va.h.
If something missing just let me know.

[2017-09-12 20:38] mariodivece commented on #59
@Ruslan-B AWESOME!!
@iwarp could you provide me with your latest usage code so I can integrate into FFME?

[2017-09-13 03:15] iwarp commented on #59
@Ruslan-B  No i think we can drop MFX, i think i'm only going to be using DXVA2 and D3D11. So long as pixfmt.h has also been updated to use the new D3D11 pixel format changes. Now i understand how the hwaccel works getting access to the individual frames.

[2017-09-13 08:18] Ruslan-B commented on #59
nice, closing this issue then.

[2017-09-13 08:18] #59 closed

[2017-09-13 10:39] #54 closed

[2017-09-13 10:40] Ruslan-B commented on #39
Install-Package FFmpeg.AutoGen -Version 3.3.3.1

[2017-09-13 10:40] Ruslan-B commented on #54
Install-Package FFmpeg.AutoGen -Version 3.3.3.1

[2017-09-13 10:41] Ruslan-B commented on #59
I created nuget package as well. It is without any ffmpeg binaries.
Install-Package FFmpeg.AutoGen -Version 3.3.3.1

[2017-09-13 13:47] mariodivece opened #60 "Include Documentation in NuGet Package"
All that beautiful documentation is now gone when referencing the NuGet package. Could you please include the XML file as posted here?
https://stackoverflow.com/questions/5205738/how-do-you-include-xml-docs-for-a-class-library-in-a-nuget-package

Thanks!

[2017-09-13 18:15] #60 closed

[2017-09-13 18:15] Ruslan-B commented on #60
Ops I forgot about this. Fixed.
Install-Package FFmpeg.AutoGen -Version 3.3.3.2

[2017-09-13 19:58] mariodivece commented on #60
Thank!!!

[2017-09-13 20:32] CraigN commented on #39
I see you targeted .NET Core 2.0, would it not be better to target .NET Standard 2.0 instead? See [here](https://github.com/dotnet/standard/blob/master/README.md)

[2017-09-13 22:11] Ruslan-B commented on #39
Microsoft really confuses me some times, fair point i'll retarget to netstandard2.0 instead.

[2017-09-13 22:13] Ruslan-B commented on #39
Or even better I'll add another target :).

[2017-09-13 22:27] mariodivece opened #61 "AVHWDeviceType Incomplete"
From the source code I can see that FFMPEG defines the following:

[code]
But in FFMPEG's source code I see many other defined
https://github.com/FFmpeg/FFmpeg/blob/ec1573f879b1974050c68fdcb69b654e500efdfa/libavutil/hwcontext.h#L27
[code]
Is there any reason why?
I also see the constant ```AV_PIX_FMT_FLAG_HWACCEL``` defined in FFMPEG but not in AutoGen. This is not a big deal as this is simply:
``

[2017-09-13 22:37] CraigN commented on #39
You're not the only one. The nice thing about the .NET Standard 2.0 is that you can publish against it and consume from .NET Core 2.0, .NET Framework 4.6.1+, etc. Think of it more like an API version.

[2017-09-13 22:48] mariodivece commented on #61
Also AVPixelFormat seems incomplete. For example, D3D11 Pixel format is not available. Only the legacy D3D11VA_VLD
See: https://github.com/FFmpeg/FFmpeg/blob/master/libavutil/pixfmt.h#L327

[2017-09-14 01:19] iwarp commented on #59
@Ruslan-B I've just tried your nuget package, it seems it's missing two D3D11 features everything seems to be working in my project. @mariodivece FYI

AVPixelFormat.AV_PIX_FMT_D3D11
AVHWDeviceType.AV_HWDEVICE_TYPE_D3D11VA

There are both are missing from your repo they need to be refreshed from the FFmpeg project.
avutil\pixfmt.h
avutil\hwcontext.h

[2017-09-14 01:21] mariodivece commented on #59
correct. I added a separate issue #61

[2017-09-14 01:22] mariodivece commented on #59
@iwarp could you please look at my issue https://github.com/unosquare/ffmediaelement/issues/69
I tried to get DXVA2 to work and it's not working. :(

[2017-09-14 09:02] Ruslan-B commented on #61
I think there is two issues:

- First, you are looking at the dev version of ffmpeg but the bindings generated over stable release 3.3 thus you have dependency in enums. Thus for reference it is better to use headers included with the bindings. With respect to AVPixelFormat indeed it has some conditional items inside but I see these members are generated so it looks complete to me.
- Second issue

[2017-09-14 11:47] #61 closed

[2017-09-14 11:55] Ruslan-B commented on #61
I added missing constants. With respect to incomplete enums I would advice to do not use none stable version of ffmpeg as from my experience it is asking for problems.

[2017-09-19 11:59] nidhisharma255 opened #62 "User Story - Organization List"
This screen will comprise of the following:

- Option to filter the list by
- Creation date to and from
- Option to search by Organization name and email address of the admin
- List of all Group added in the application
1. - Organization Name
2. - Admin Details
3. - Name of the admin
4. - Email address of the admin
5. - Creation date
6. - Created by
7. - Actions - Edit and Delete

This screen will

[2017-09-19 18:06] #62 closed

[2017-09-21 07:01] dxball opened #63 "How to handle the decode/encode function return AVERROR_EOF"
The ffmpeg [document](https://www.ffmpeg.org/doxygen/3.1/group__lavc__encdec.html) says

but I can't find the macro "AVERROR_EOF", how can I deal with the return value?

[2017-09-21 08:50] Ruslan-B commented on #63
It is known to me. However, these kind of macroses are extremely hard to generate as they build as polymorfic inline functions. I have few ideas how to do so but it going to take some time to validate them. I’ll keep this issue open but I would recommend to search for constant value for now as a temporary solution.

[2017-09-22 08:03] qmfrederik opened #64 "Create supporting nuget package with latest LGPL binaries for Windows."
The P/Invoke declarations currently link to a specific version of the FFmpeg/libav libraries, like this:

[code]

For example, libav 11.7 includes `avcode-58` instead of `avcodec-57`, so you can't use FFmpeg.AutoGen with libav 11.7 (although they are fairly API-compatible). And dllmap isn't an option, as .NET (Core) doesn't provide dllmap support.

You could workaround this by manually loading the

[2017-09-22 08:53] Ruslan-B commented on #64
@qmfrederik could you please elaborate the rational need of this.
My point of view:
These bindings are generated against the specific version of API, so in case you have a different version of dll it means you have a breaking change(s) in the API of that library which means they are incompatible.
From my perspective, in case you need hack something or experiment you can grab the source code and yo

[2017-09-22 09:06] qmfrederik commented on #64
@Ruslan-B Thanks for the fast response!

Well - at the root of the issue is that I'm using libav, not ffmpeg, though they are very (but not totally) compatible. I prefer libav because they publish LGPL binaries, whereas ffmpeg provides (by default) GPL binaries.

Another use case would also be upgrading to a newer version of ffmpeg - they may bump the API version if they add new functions or remov

[2017-09-22 13:33] Ruslan-B commented on #64
@qmfrederik okay, I got you point it is indeed interesting to know.

However, I see few problems which can be address I a slightly different way.

With respect to next version of ffmpeg I already have the nuget package my intention is to update it for every major/minor release it going to be sufficient.
assume).  I'm convinced that having a supporting nuget package with latest LGPL binaries for Wi

[2017-09-22 13:49] #39 closed

[2017-09-22 13:50] Ruslan-B commented on #39
From now binding are netstandard2.0 only.

[2017-09-23 10:28] qmfrederik commented on #64
That would a great idea :-).

I maintain a couple of packages that distribute binaries (mostly .dll's on Windows & .dylib's on macOS) via NuGet.

It becomes really easy when you're targetting .NET Core or newer NuGet versions. In that case, you just need to put the native files in the `runtimes/{runtime}/native/` folder, where `{runtime}` is the runtime identifier, such as `win7-x64` or `win7-x86`

[2017-09-23 19:25] Ruslan-B commented on #64
Ok then I'll rename this issue, I have plans to do so during next week.

[2017-09-23 19:49] qmfrederik commented on #64
Awesome, thanks!

[2017-09-25 13:28] Ruslan-B commented on #50
Fix in https://github.com/Ruslan-B/FFmpeg.AutoGen/commit/a793077628cb772e9e7fb4faca1528516424cd0d.

[2017-09-25 13:28] #50 closed

[2017-09-25 17:11] OhSoGood opened #67 "avformat_open_input change between ffmepg version?"
Hi,

With the same SDP files (see example below), I used to open video stream with avformat_open_input without problem with the old libraries I was using: ffmpeg 2.2.3 (!) with avformat-55.dll and FFmpeg.AutoGen of that time. Now, I've tried to upgrade ffmpeg and FFmpeg.AutoGen to the latest (3.3.3 and 3.3.3.4 respectively), and my call to avformat_open_input returns an AVERROR of -1094995529. I w

[2017-09-25 17:35] Ruslan-B commented on #67
I would suggest to duplicate this question on stackowerflow and put the link back.

[2017-09-29 09:35] debendramodi opened #68 "Avcodec_open2 returns -22"
Hi Ruslan

Thanks for this .net wrapper.  This has been very helpful to me in my projects.

I am trying to encode g711 audio avpackets to aac.  The avcodec_open2 method returns -22.

This error indicates Invalid parameter.

                   AVCodec* codec = ffmpeg.avcodec_find_encoder(AVCodecID.AV_CODEC_ID_AAC);
                    if (codec == null) { _log.Info("Could not find codec: AV_CODEC_I

[2017-09-29 11:37] Ruslan-B commented on #68
@debendramodi
Your code snippet writes to log (you can check example project): ```Specified sample format s16 is invalid or not supported```. Hope it helps.
Please use stackoverflow.com in future. As it is not bug or feature related to bindings.

[2017-09-29 11:37] #68 closed

[2017-09-29 11:39] Ruslan-B commented on #67
Closing this as it is not bug or feature related to bindings. Please use stackoverflow.com in future.

[2017-09-29 11:39] #67 closed

[2017-10-01 21:33] #63 closed

[2017-10-01 21:40] Ruslan-B commented on #55
I implemented generic fix  for macro functions in #63 thus AV_NOPTS_VALUE is now available.
The nuget package is also updated.

[2017-10-01 21:48] Ruslan-B commented on #64
It appears it is quite a problem to build stable version of ffmpeg (3.3).

[2017-10-02 00:06] ispysoftware commented on #63
Brilliant, Thank you.

[2017-10-02 20:44] qmfrederik commented on #64
@Ruslan-B I'm experimeting with a Travis project which cross-builds ffmpeg for Windows on Ubuntu and packages that in a NuGet package - see http://github.com/qmfrederik/ffmpeg-win32

[2017-10-03 15:31] Ruslan-B commented on #64
@qmfrederik it is awesome! It appears I took quite complex route. However,  I tried the package (r30) and didn't manage to open any file or uri it fails with ```Protocol not found``` error.

[2017-10-03 16:26] qmfrederik commented on #64
@Ruslan-B DId you use the FFmpeg.Native.H264 package? That one is built from the h264-only package and only contains the h264 decoder (because that's the part of ffmpeg we're using in our software).

I'm building a FFmpeg.Native package as well, I'll try to upload that later today so you can give it a try.

As a note, I've noticed that the GPL build of FFmpeg for Windows links with _all_ possible

[2017-10-03 16:57] Ruslan-B commented on #64
@qmfrederik thank for the update! Yes, used the FFmpeg.Native.H264 package so it explains.
Indeed, It would be nice to try out new package.
With respect to ownership I'm not insisting on any, as long we have up-to-date binaries. Especially, right now I do realize it is quite en effort to build and maintain it in future.
Beside, I saw few post on internet - some folks bought lgpl build from zeranoe

[2017-10-03 18:16] qmfrederik commented on #64
@Ruslan-B I pushed a package with x64 LGPL binaries here (free of charge 😄 ): https://www.nuget.org/packages/FFmpeg.Native. It may take a couple of minutes for NuGet to index it but it should be there soon.

I also updated [the README  file](https://github.com/qmfrederik/ffmpeg-win32/blob/master/README.md) with a list of all options which are included.

Let me know if it works for you!

[2017-10-03 21:31] qmfrederik opened #70 "Some AVERROR_* values are wrong"
The values of most of the `AVERROR_*` macros are wrong.

For example, `AVERROR_HTTP_SERVER_ERROR` has a value of `0xa7a7ca08` whereas it should be `0xa7a7caf8` (note the last byte is `08` instead of `f8`).

This appears to be an issue with the code which generates the macros. From the generated code:

[code]

The generated code should have been:

[code]

instead of

[code]

I discovered this when

[2017-10-03 21:45] qmfrederik commented on #70
And as a special case:

[code]

[2017-10-04 09:25] #70 closed

[2017-10-04 09:28] Ruslan-B commented on #70
@qmfrederik good catch, indeed it was bug in the parser. I added some extra unit tests and found and fix some other issues as well.

[2017-10-04 09:37] Ruslan-B commented on #64
@qmfrederik works like a charm! I think some minor twinks can be done like put semantic version and throw a way binaries from this repo and update read me but this package is really big step forward.

[2017-10-07 21:10] qmfrederik opened #71 "Native library names are different on Linux and macOS"
Currently the P/Invoke statements look like this:

[code]

However, `avcodec` is named `libavcodec.57.so` on Linux and `libavcodec.57.dylib` on macOS. The `lib` prefix is not an issue - .NET will add it automatically, but the problem is that the version suffix uses a dot instead of a dash (e.g. `.57` instead of `-57`).

One way to add support for macOS and Linux could look like this:

1 Store the

[2017-10-07 21:19] qmfrederik commented on #71
Correction, there's a difference between Linux and macOS: on Linux, the version number comes after the `.so` extension whereas on macOS it comes before the `.dylib` extension:

- `avcodec-57.dll`
- `libavcodec.57.dylib`
- `libavcodec.so.57`

[2017-10-07 21:35] Ruslan-B commented on #71
Yes, I'm confirming this.
Besides, it was a way to workaround this for mono but it does not work on .NET Core.
So, it looks like we have two options here manually load libraries (the way you propose previously) or to have a build per platform.
Effort wise I think it is not that much difference.
So. @qmfrederik which way wold be better way to go?

[2017-10-09 08:47] qmfrederik commented on #71
Perhaps manually loading the libraries is the better way to go. Two advantages I can see:
- You don't need to build a separate assembly per platform. I don't think `dotnet build` and `dotnet pack` have native support for this.
- On Linux, if you use ffmpeg from the package manager, you may get all different kind versions of ffmpeg depending on which distro you are running on (and naming convention

[2017-10-09 20:47] Ruslan-B commented on #71
Well multiple configurations will do the trick I think, but it is quite cumbersome. I'll reiterate previous enhancement then. I'll keep you posted.

[2017-10-14 07:25] Ruslan-B opened #75 "av_sdp_create resolution fails with exception"
* **Do you want to request a *feature* or report a *bug*?**
bug

* **What is the current behavior?**
```av_sdp_create``` resolution fails with exception.

* **What is the expected behavior?**
it works

* **What is the motivation / use case for changing the behavior?**
n/a

* **Please tell us about your environment:**
Windows 10
- version: 3.3.3

[2017-10-14 07:26] Ruslan-B commented on #75
#74 #72

[2017-10-14 08:44] Ruslan-B commented on #71
@qmfrederik thank for the all hard work.
I implemented lazy load for libraries and fictions and updated nuget packages as well.  With respect to ```av_sdp_create``` I create another issue here #75.
I think can close the issue then.

[2017-10-14 08:53] Ruslan-B commented on #71
However, in example project I'm using FFmpeg.Native package in case you comment out this line  ```FFmpegBinariesHelper.RegisterFFmpegBinaries();``` it does not work but I don't think it is connected with this change.

[2017-10-18 06:07] ispysoftware commented on #71
I'm unable to get this working on OSX with net core. All I get is "could not find the entry point for avdevice_register_all". I've followed the instructions in the readme to the letter.

[2017-10-18 11:59] ispysoftware commented on #71
Is this supposed to work on osx with net core 2? I'm just getting entrypoint not found exceptions (with the new Native loader code)

[2017-10-18 12:03] qmfrederik commented on #71
@ispysoftware Yes, it works with OS X on .NET Core. I use the FFmpeg build from the `FFmpeg.Native.H264`  NuGet package and use this code to glue the native libraries with the AutoGen library:

First, before you use the FFmpeg API, update the delegate:

[code]

And this is the implementation for GetOrLoadLibrary

[code]

It should not be very difficult to bring the FFmpeg.Native package up to date

[2017-10-18 13:16] ispysoftware commented on #71
Brilliant, thanks for that :)

[2017-11-09 17:33] lwalmeida opened #79 "save the video stream"
**Note: for support questions, please use [stackoverflow](https://stackoverflow.com/search?tab=newest&q=ffmpeg%20autogen)**. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ... **
  - [ ] bug report
  - [x ] feature request
  - [ ] support request or question => Please do not submit support request or questions here, see note at the top of this tem

[2017-11-09 17:35] tomachristian commented on #79
First thing in your issue's description:

_"Note: for support questions, please use stackoverflow. This repository's issues are reserved for feature requests and bug reports."_

This is an ffmpeg-related question. You could check out how https://github.com/ispysoftware/iSpy does it.

[2017-11-10 10:36] lwalmeida commented on #79
thank you

[2017-11-13 13:38] duoduoxi commented on #46
@Ruslan-B

 hi,  Ruslan-B

i posted a question on stackoverflow, can you help me,thank you
https://stackoverflow.com/questions/47265575/ffmpeg-autogen-use-avfilter-graph-create-filter-return-22

[2017-11-15 21:21] Ruslan-B commented on #46
@duoduoxi you need to put more effort into question - no one is going to dig though kilometers of code - it supposed to have minimum amount which shows the problem but at the same time it must be compatible. Besides, you need to replace local file with the online url. Eventually just look at the other questions.
I'm deleting your comment as you are abusing issues here, please think about consequen

[2018-01-16 03:01] mariodivece opened #82 "Add missing Hardware Acceleration Methods, Structs, and Enums"
**Note: for support questions, please use [stackoverflow](https://stackoverflow.com/search?tab=newest&q=ffmpeg%20autogen)**. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ... **
  - [ ] bug report
  - [x] feature request
  - [ ] support request or question => Please do not submit support request or questions here, see note at the top of this temp

[2018-01-16 10:19] Ruslan-B commented on #82
@mariodivece these functions and structures are present only in master branch of ffmpeg (ongoing development) and not present in stable release (3.4.1 atm). As usual I would suggest to wait for the next official release.

[2018-01-24 20:54] xupefei opened #83 "NuGet: Strong name signing"
**Note: for support questions, please use [stackoverflow](https://stackoverflow.com/search?tab=newest&q=ffmpeg%20autogen)**. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ... **
  - [ ] bug report
  - [x] feature request
  - [ ] support request or question => Please do not submit support request or questions here, see note at the top of this temp

[2018-01-25 11:11] Ruslan-B commented on #83
Please explain the motivation. I can make a good guess that you are using enterprise build environment if so will your sponsor strong-name-signed assembly package? Some one need to maintain the strong signed package any way.

[2018-01-26 08:49] xupefei commented on #83
It is because a strong-name signed application is not able to load an unsigned one. When compiling, it says:
![image](https://user-images.githubusercontent.com/1687847/35431610-ce663c90-0285-11e8-82cd-6b6468379f66.png)

Surely lots of people complain that the strong-name is totally useless, however, in reality, it is necessary when you want to add something to GAC.

Are you talking about a code si

[2018-01-26 10:23] Ruslan-B commented on #83
I'm not going to debate on whether to strong name sign open source nuget libs:
octokit/octokit.net#405 (comment)
reactiveui/ReactiveUI#43 (comment)

I would suggest to look to tools like this:
https://brutaldev.com/post/net-assembly-strong-name-signer

[2018-01-26 10:32] Ruslan-B commented on #83
Looking down these threads I see some people manage to resolve issues and there are no extra cost involved.
I'll make another round of research.

[2018-01-26 10:39] Ruslan-B commented on #83
Slightly off-topic but are seriously using GAC?

[2018-01-26 11:08] xupefei commented on #83
Yes, I am currently experimenting with adding my WPF application to GAC to (hopefully) get some speed-up on loading (you know, WPF loading is slow as hell).

I see your link, that some projects are publishing two NuGet packages, one signed and another not. Can FFmpeg.AutoGen do the same?

Nevertheless, if you decide not signing with a strong-name, I can of course look at `.NET Assembly Strong-Name

[2018-01-26 18:42] mariodivece commented on #82
Well that was a little dumb of me to not check the version. I guess we'll have to wait a little more for the HW acceleration API to be available :(

[2018-01-29 08:17] Ruslan-B commented on #83
Yep, it is know to me especially if you are using 3rd party components. Not sure GAC is going to help though.

I'm testing how the strong name is going to impact development process. So far travis build system is not okey with it but will see how problematic it is to fix.
I'll keep you posted.

[2018-01-31 22:25] tuxuser commented on #71
Could somebody please reflect the changes for library loading in the __FFmpeg.AutoGen.Example__

Very appreciated, thanks!

My System: OSX 10.13.2
VS for Mac: 7.3.3
Compile Target: Debug / x64
FFmpeg / Libav installed via brew

Running the Example currently produces this:
[code]

[2018-02-01 08:23] Ruslan-B commented on #71
@tuxuser you can try to specify static ```ffmpeg.RootPath``` with absolute path to ffmpeg binaries?
Besides, it is quite confusing that it says line 32 which is windows library loader.

[2018-02-01 11:05] tuxuser commented on #71
[code]
Still produces the same error..

**Line 32** of FunctionLoader.cs seems like the base library-loading wrapper, not windows specific ?

[2018-02-01 12:03] Ruslan-B commented on #71
My bad it is indeed platform agnostic function. I would suggest to debug entire sequence starting from library loading (```LibraryLoader.LoadNativeLibraryUsingPlatformNamingConvention```) as looks like it fails to load library in first place.
And the reason why might quite different e.g.: invalid path to binaries, different naming conventions for libraries, Mono vs .NET Core, 32 vs 64, etc.
As esp

[2018-02-01 18:53] Ruslan-B commented on #83
@xupefei I've updated the nuget strong name signed assembly. If all good please close the issue.

[2018-02-01 18:56] Ruslan-B commented on #83
So far you cannot sign the assembly using linux tool-chain and it also creates minor confusions in visual studio property showing it as delay sign only default state of checkbox. It does not bother me much.

[2018-02-01 18:59] Ruslan-B commented on #71
I'm closing this issue as I think we fix the main problem.
@tuxuser if you need any help further it is okay to use this thread.

[2018-02-01 19:02] xupefei commented on #83
Thank you! I just got the version `3.4.0.3` from NuGet and it is now signed.

Just to mention, AppVeyor has a Windows 10 + VS2017 build environment which may be more friendly to a C# project.

[2018-02-01 19:02] #83 closed

[2018-02-01 19:06] Ruslan-B commented on #83
Thank you. I'll take a look.

[2018-02-02 15:22] Ruslan-B commented on #71
I think it might be the case that we are not adding lib prefix any more.

[2018-02-02 15:25] Ruslan-B commented on #71
@tuxuser could you please test this
[code]

[2018-02-02 21:46] tuxuser commented on #71
@Ruslan-B just want make sure we are on the same page:
The Ffmpeg.Autogen.Sample never calls "GetOrLoadLibrary" actively, so that underlying function you told me to replace, is never called either.

The example still uses "RegisterFFmpegLibraries" aka. The old way.

From my understanding, there has to be at least a place which holds name and version for the libraries that need to be loaded, like @

[2018-02-03 20:44] Ruslan-B commented on #71
Good, I'll integrate the fix then.

[2018-02-03 23:32] tuxuser commented on #71
How about a little addition, to be more descriptive? Something like this:
[code]

[2018-02-04 12:42] #71 closed

[2018-02-04 12:44] Ruslan-B commented on #71
@tuxuser I added DllNotFoundException and updated nuget package as well.

[2018-02-05 10:40] Ruslan-B commented on #75
After short investigation it looks like interop fails to proxy this type AVFormatContext*[], which makes sens as it is near impossible to create this type via c# unsafe. It should be written like AVFormatContext**.

[2018-02-05 15:10] #75 closed

[2018-02-08 21:53] #46 closed

[2018-02-13 01:22] hey-red commented on #64
I got strange error while starting NET Core 2.0 console application:

but why library is trying to load avformat.57 instead avformat-57?

csproj
[code]

[2018-02-13 09:44] Ruslan-B commented on #64
@hey-red  what platform are you running on?

[2018-02-13 12:27] hey-red commented on #64
@Ruslan-B
Win10 x64, NET Core SDK 2.1.4

[2018-02-13 18:52] Ruslan-B commented on #64
It appreas to be true they are not working out of box. I wonder how @qmfrederik uses FFmpeg.Native package? As .NET Core host does not extract native dlls from the package.

[2018-02-13 20:55] qmfrederik commented on #64
I currently use the FFmpeg.Native package which only includes the H264 codecs.
That one includes a [`FFmpegBinaries.FindFFmpegLibrary`](https://github.com/qmfrederik/ffmpeg-win32/blob/h264-only/FFmpeg.Native.H264.win7-x64/WindowsBinaries.cs) method which does the library loading.

That said, native library loading is being improved in .NET Core. dotnet/corefx#17135 describes a new API which has be

[2018-02-13 21:33] hey-red commented on #64
Thanks for clarifying.

[2018-03-17 16:33] qmfrederik commented on #71
Hi everyone on this thread,

The long-term solution for this was dotnet/corefx#17135, which enables dynamic loading of native libraries on .NET Core, but I learned today that this won't make it for .NET Core 2.1.

If you're using .NET Core and System.Drawing, would you mind voting for that issue (clicking the 'thumbs up' emoji at the issue description would o it)?

Thanks!

[2018-03-29 06:44] mcdis opened #85 "Add return doc parsing"
Hi,
with respect to your work,
please, add @return description parsing.
For example:
[code]
there is no return description, but from swscale.h:
[code]

I suppose that '@return' not parsed

[2018-03-29 13:49] grill2010 commented on #64
In case someone is also struggling to build valid LGPL ffmpeg build for Windows x64/x86 there is this fantastic peace of work on github which is called [media-autobuild_suite](https://github.com/jb-alvarado/media-autobuild_suite). This scripts do basically all the work for you and provides many customization features for all kind of ffmpeg features like openh264 and many more.
At first I tried to

[2018-04-01 09:35] grill2010 commented on #64
If you want to build a specific version  op FFmpeg to use it in FFmpeg autogen you can do this by editing the media-suite_compile.sh script.

[Example](https://github.com/jb-alvarado/media-autobuild_suite/issues/374#issuecomment-236454192)

[2018-04-03 12:57] #85 closed

[2018-04-03 13:06] Ruslan-B commented on #85
Good spot. I've updated the nuget package.

[2018-04-23 06:50] vlaldis opened #86 "Invalid mapping of linux libraries"
There is missing dot in the logic for loading .so libraries on linux. This results to "library not found" on Ubuntu 16.4

LibraryLoader.cs -> LoadNativeLibraryUsingPlatformNamingConvention() at line 37

[code]

should contain dot before {version}

[code]

[2018-04-29 13:53] Ruslan-B opened #87 "update to 4.0"
subj

[2018-04-30 18:42] #87 closed

[2018-04-30 18:44] Ruslan-B commented on #82
@mariodivece I've updated the nuget with 4.0 release. Could you please check if it going to be sufficient - if yes please close the issue.

[2018-05-01 13:05] #86 closed

[2018-05-01 13:06] Ruslan-B commented on #86
Nice catch! I updated package.

[2018-05-02 19:11] mcdis opened #88 "Remove obsolete ffmpeg.av_register_all() and ffmpeg.avcodec_register_all() from the example"
av_register_all and avcodec_register_all are deprecated

https://github.com/intel/libyami-utils/pull/118
http://ffmpeg.org/pipermail/ffmpeg-devel/2018-February/225051.html

[2018-05-02 19:40] mariodivece commented on #82
I am precisely working on the 4.0 branch of FFME and looking into the new HW accel support. Thanks for the fast API updates @Ruslan-B !

[2018-05-03 07:53] #88 closed

[2018-05-03 15:08] tzachshabtay opened #89 "kernel32 not found (on linux)"
* **I'm submitting a ... **
  - [x] bug report
  - [ ] feature request
  - [ ] support request or question => Please do not submit support request or questions here, see note at the top of this template.

* **What is the current behavior?**

Running from linux with mono, but ffmpeg.autogen seems to think I'm running from Windows.

* **If the current behavior is a bug, please provide the steps to r

[2018-05-04 08:28] Ruslan-B commented on #82
@mariodivece thank for the update. As this issue to broad I can assume it is safe to close it. Fell free to reopen.

[2018-05-04 08:28] #82 closed

[2018-05-04 17:13] Ruslan-B commented on #89
Package contains two assembles one is net45 and the other one netstandard2.0. As your targetFramework is set "net461" nuget must-likely created the link to the net45 assembly. Could you please check this fist? And if so just adjust your csproj file to refer to netstandard2.0 instead.
And the reason why it assumes windows - because ```RuntimeInformation``` type is absent in net45.

[2018-05-04 19:55] tzachshabtay commented on #89
Ah, indeed the net45 assembly is copied instead of the netstandard one.
That said, I can't find any way to change that.

My scenario is that I have a dotnet stanard library referencing your library, and a mono/dotnet console app targetting dotnet 4.6.1 referencing my library (an executable cannot target netstandard- it's for libraries only).
In my library's csproj I just have `<PackageReference In

[2018-05-04 20:33] Ruslan-B commented on #89
@tzachshabtay I wouldn't work:
RuntimeInformation was introduced in 4.7.1 and part of .Net Core/Standard:
https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation?view=netframework-4.7.1
I guess test you mentioned is mono specific or you used higher version of the net framework.

[2018-05-04 20:51] tzachshabtay commented on #89
Did you see my link about the reference groups?
Can't you add in your nuspec something like:

[code]

I'm not completely confident this would work, but it might...

Regardless, is there a reason not to implement the workaround I mentioned for net45?

I can't migrate to netcore (I have dependencies that don't support it), I might be able to upgrade to 4.7.1, but I don't want to lose potential targe

[2018-05-04 21:41] Ruslan-B commented on #89
I saw it but it wouldn't work in case you have 4.6.* framework or lower.
And the reason why to not to use ```/usr/lib/libc.dylib``` way - it is a trickery.
But I'll refactor a bit library loading to make it more open for extension or for hacks.

[2018-05-05 03:30] tzachshabtay commented on #89
Ok, that will work too, I guess.

[2018-05-07 11:25] Ruslan-B commented on #89
I've updated  the package. Feel free to reopen if this issue will reoccur.

[2018-05-07 13:37] popcatalin81 commented on #64
For using `FFmpeg.Native` in a .Net standard style class library the following can be added to the .csproj to copy the runtime files to bin

[code]

Edit the paths if other versions of `FFmpeg.Native` are used.

[2018-05-07 14:01] Ruslan-B commented on #64
Looks like a good workaround. Nevertheless, we have and issue here https://github.com/qmfrederik/ffmpeg-win32/issues/2  to automate the process. I had a plan to add an extra target file to package to do this automatically.

[2018-05-08 07:58] mcdis opened #90 "Improove interop perfomance"
At this moment, when native function is invoking you do like this:
[code]
May be using Interlocked.Exchange + Interlocked.CompareAndExchange to cache delegate will be better solution instead constructing delegate on each call

[2018-05-08 09:36] Ruslan-B commented on #90
I guess it happens only once as all functions are delegates and the body redefines the delegate.
Potentially function location might be executed few times in heavy multi thread environment but it should not impact performance in any significant way.
Or I'm missing something?

[2018-05-08 11:04] mcdis commented on #90
I agree and closing the issue

[2018-05-08 11:04] #90 closed

[2018-06-19 21:04] springy76 opened #91 "CppSharpUnsafeGenerator does not work"
I just git checked out the latest sources from May 2018, everything compiled fine (despite a warning that CppSharpUnsafeGenerator is targetting AnyCPU while consuming X64 assemblies).

On first run it failed with not finding input files; I debugged and finally removed one `..\` from the `solutionDir` constant in `CliOptions.Normalize()`.

Now it fails on the first file `g.Parse("libavutil/avutil.h

[2018-06-19 21:12] springy76 opened #92 "Whats the matter with AVDictionary?"
It is just declared as

[code]

back in April 2016 when the declaration used the `partial` keyword I just added this code in a separate file to get it working:

[code]

Too complicated? I created thousands of `Dictionary<string, string>` objects from this without a single memory access problem or garbled data.

Now without `partial` I would have to reapply a patch on each update.

[2018-06-20 07:50] Ruslan-B commented on #92
Well, you created a hack which is working in your case. The public FFmpeg API does not expose AVDictionary structure details. Hence, it meant to be used as strongly typed pointer only.
To conclude I would rather avoid the way of use you choose to access AVDictionary, as FFmpeg developers might change something in their implementation without any notice. My advice in your situation is to create a w

[2018-06-20 08:47] springy76 commented on #92
I have to admit I'm unable to really understand C(++) code since I always used very high level languages like Delphi and C#.

Even after you now told me "public FFmpeg API does not expose AVDictionary" I'm unable to see why [this](https://www.ffmpeg.org/doxygen/4.0/dict_8c_source.html#l00030) is private. I'm not expecting you to teach me C ;) but to prevent further similar questions please give me

[2018-06-20 09:34] Ruslan-B commented on #92
I can understand the confusion. The name of the file `dict.c` refers implementation (private details) not to the official API which is exposed in form of include files `*.h`. Hence, you are browsing implementation source code.  For some reason, authors decided to hide this detail from the API consumers.
I hope it helps to clarify the rationale background.
Any questions are welcome.

[2018-06-20 20:47] springy76 commented on #91
I was sure I did because the new SSD was twice as large as the one before, but you are right, this was missing. (but there is still one ".." too much in `solutionDir`).

I additionally had to insert `CultureInfo.CurrentCulture = CultureInfo.CreateSpecificCulture("en");` at the beginning of `Main()` because without that some constants did use invalid syntax because not in every culture the floating

[2018-06-22 14:29] Ruslan-B commented on #92
Any questions left? Otherwise, I'll close the issue.

[2018-06-22 17:29] Ruslan-B commented on #91
With respect to solutionDir if you recall you got the warning in the begining :), so you have to pick x64 as a platform as by default it is set to AnyCPU.
I'm pretty sure that any float or double parsing uses InvariantCulture internally.
However, (and you right!) generation is not protected and going to use default culture for writing numbers.
I'll submit a proper fix.

[2018-06-22 17:30] #91 closed

[2018-06-22 21:18] #92 closed

[2018-06-23 03:12] mariodivece commented on #92
For whatever is worth, try the following:
https://github.com/unosquare/ffmediaelement/blob/master/Unosquare.FFME.Common/Core/FFDictionary.cs
https://github.com/unosquare/ffmediaelement/blob/master/Unosquare.FFME.Common/Core/FFDictionaryEntry.cs

[2018-06-26 13:56] evgeniylevakhin commented on #47
Just curious, if anyone had any luck with this. I've started tinkering (trying to transcode xvid/mp3 in avi to h264/aac in mp4). Having a couple issues (not sure if im using correct terminology):

1. avcodec_send_frame is failing (mp3 -> aac). with "more samples than frame size (avcodec_encode_audio2) " I'm assuming I need to limit samples to 1024?. If I ended up with incomplete frame what do i do

[2018-06-26 14:11] bp2008 commented on #47
Every once in a while I try to do things with this project and always run in to similar issues.  I just don't know whether to blame it on ffmpeg's difficult learning curve or potential bugs in this project's bindings.

[2018-06-26 16:00] popcatalin81 commented on #47
I've tried to muxing `h264` video stream to `mp4` container format and failed. It didn't write to the file with any setting combination.

I've successfully muxed a `VP9` video stream to `webm` container format.

It coud be a bug in ffmpeg or in ffmpeg,autogen. I've personally run out of ideas. ffmpeg does not raise any errors.

[2018-06-28 11:39] Ruslan-B commented on #47
folks have you tried to enable verbose log from ffmpeg?

[2018-06-28 11:46] popcatalin81 commented on #47
@Ruslan-B yes, of course, tried with Trace level, highest level, above debug and verbose! Spend 5 full days trying all C muxer samples converted to C# I could find. No errors in the log, the muxer did do not write to disk, while accepting packets.  (shrug)

[2018-06-28 11:55] Ruslan-B commented on #47
I got this
[code]
Right before access violation at avformat_write_header.
I updated the test project to use ffmpeg.autogen 4.0.0.2 and ffmpeg 4.0

[2018-06-28 12:03] popcatalin81 commented on #47
I've gotten past that error but still could not make `mp4` muxer write the file.

This is how I've passed parameters to muxer:

[code]

[2018-06-28 13:32] Ruslan-B commented on #47
I found an official example https://github.com/FFmpeg/FFmpeg/blob/master/doc/examples/transcoding.c However, it looks a bit different from @bp2008 example code.

[2018-06-28 18:03] evgeniylevakhin commented on #47
I think that example no longer valid..

bp2008 follows new api defined here: https://www.ffmpeg.org/doxygen/3.4/group__lavc__encdec.html

I got a little ahead though... it's muxing something.

`Output #0, mp4, to 'test.mp4':
    Stream #0:0, 0, 1001/24000: Video: h264 (libx264), 1 reference frame, yuv420p, 640x480 (0x0), 0/1, q=-1--1, 3000 kb/s, 23.98 tbn
    Stream #0:1, 0, 1/44100: Audio: mp3 (l

[2018-06-28 18:21] Ruslan-B commented on #47
I thought so. I started to port https://github.com/FFmpeg/FFmpeg/blob/master/doc/examples/transcoding.c
It says `API example for demuxing, decoding, filtering, encoding and muxing`. I guess it going to be a good baseline in case I'll get it to work :).

[2018-06-28 19:15] evgeniylevakhin commented on #47
@Ruslan-B, Awesome! Appreciate your help.

@bp2008 , i published your code here: https://github.com/evgeniylevakhin/ffmpeg.autogen.wrapper

In case you'd like to check.

`[mp4 @ 00000194328bd8e0] Application provided invalid, non monotonically increasing dts to muxer in stream 0: 3003 >= 2351
`
It seems to be starting... but unable to calculate packet dts. I was under impression it's supposed to d

[2018-06-28 19:29] bp2008 commented on #47
I wish I had more time to play with this stuff, but currently I'm knee-deep in other projects. :)

[2018-06-29 17:56] Ruslan-B commented on #47
Ok, I've ported transcoding.c here is the gist: https://gist.github.com/Ruslan-B/43d3a4219f39b99f0c9685290dcd23cc
However, hadn't  time to play with it.

[2018-06-29 18:00] Ruslan-B commented on #47
P.S. Surprisingly this example uses obsolete api for encoding.

[2018-07-03 08:22] Ruslan-B commented on #47
Third revision of the transcoding [gist](https://gist.github.com/Ruslan-B/43d3a4219f39b99f0c9685290dcd23cc) is kind of works. At least I managed to transcode SampleVideo_360x240_2mb.mp4 to the mp4 :).

[2018-07-04 08:44] tomaforn commented on #47
I'm trying to write a muxer taking a separate video and audio file input and then write those into a single container as a result.
Based on [this](https://www.ffmpeg.org/doxygen/trunk/remuxing_8c-example.html) example from ffmpeg documentation I've come up with [this c# code](https://gist.github.com/tomaforn/5248eaa4054a81c4d56f5a696e4b57b1) and it runs without errors.

The problem is that the sec

[2018-07-04 11:32] Ruslan-B commented on #47
@tomaforn It might a data issue (permutated by the codec and container you are using). I'll take a look but it going to take some time (might be  indefinitely.) I did start and rejoin this discussion as it was a question what ever bindings are working fine or not. By now I have strong filing they are working (in case you know how the cocde C works). The ffmpeg api as dam complex thing even if code

[2018-07-05 10:14] tomaforn commented on #47
@Ruslan-B Yes, it could be data related. But if I use ffmpeg command line and just streamcopy the files into a new file with the same format it works so something tells me the problem lies in the code. Would be awesome if you had a minute to check but I understand about hectic schedules :)

[2018-07-18 13:34] superware opened #93 "Missing methods"
Would be great if libavutil/time.h (av_gettime, av_gettime_relative, av_gettime_relative_is_monotonic, av_usleep) were also included in the bindings.

Plus, av_q2d will be very helpful and eliminate custom additions, almost without change except for omitting "inline" and adding "public":

[code]

Can CppSharp handle that?

[2018-07-18 14:08] Ruslan-B commented on #93
yes, I know, the are inline function and could handy, but function body is exposed as string in CppSharp even though AST is avaliable in native C++ . Hence, without extending CppSharp it is not a trivial task (extending CppSharp as well :) ).
There is an easy alternative to add this functions as not generated code but then it is going to be maintenance burden.

[2018-07-18 14:15] Heak-GSC opened #94 "Invoke ffmpeg.avformat_open_input() throw “No such file or directory” error"
AVFormatContext* _pCodecContext = ffmpeg.avformat_alloc_context();
                AVDictionary* _avDic = null;
                ffmpeg.av_dict_set(&_avDic, "list_devices", "true", 0);
                AVInputFormat* _inputFormat = ffmpeg.av_find_input_format("dshow");
                ffmpeg.avformat_open_input(&_pCodecContext, "video=dummy", _inputFormat, &_avDic).ThrowExceptionIfError();

[2018-07-18 14:19] Ruslan-B commented on #94
@Heak-GSC it stackowerflow question type.

[2018-07-18 14:19] #94 closed

[2018-07-18 15:53] superware commented on #93
Is it possible to manually map CppSharp function body string to the corresponding C# method body, and in the generation/build process check that the CppSharp string hasn't changed?

So "static inline double av_q2d(AVRational a){ return a.num / (double) a.den; }" is manually mapped to "public static double av_q2d(AVRational a){ return a.num / (double) a.den; }", and there's a check verifying that a

[2018-07-19 07:08] Ruslan-B commented on #93
I really like the idea, I think it is feasible, I'll definitely try to explore it. Besides, I already have macro parser, maybe it will be easy to extend it to get at-least basic functions being autogenerated. On top of it in case of av_q2d all inputs and outputs are known if I just use the same function body it will be valid C#.

[2018-07-19 12:36] KFAFSP opened #95 "Bindings for av_tree_* from avutil."
Recently I had to do some introspection into the FFmpeg internals. I know that exposing private parts is not in the scope of this wrapper, but you gotta do what you gotta do.

I wondered why `AVTreeNode` and it's function family (from avutil, see [the docs](https://ffmpeg.org/doxygen/4.0/group__lavu__tree.html)) do not have bindings in FFmpeg.AutoGen, especially since they are public? They are not

[2018-07-19 12:41] superware commented on #93
Wow, that's great! And what about av_gettime_relative and friends? :)

[2018-07-19 14:53] imylover opened #96 "Chinese path is not supported"
**Note: for support questions, please use [stackoverflow](https://stackoverflow.com/search?tab=newest&q=ffmpeg%20autogen)**. This repository's issues are reserved for feature requests and bug reports.

* **Windows 10 Chinese Edition:**
Not Supported Audio Devices if the path has Chinese character。
- version: 3.4

[2018-07-23 03:08] friman opened #97 "RTSP issue (Transport)"
Hello

I am having troubles with some RTSP streams, they need to define RTSP transport otherwise ffmpeg does not decode it. Is there something done for that? Suggestion?

Thanks in advance

[2018-07-23 11:12] Ruslan-B commented on #97
@friman it is stackoverflow question type.

[2018-07-23 11:12] #97 closed

[2018-07-23 11:15] Ruslan-B commented on #93
It should cover most of the inline functions. I would be rather conservative here just to say all of them :).

[2018-07-23 11:32] Ruslan-B commented on #95
I updated the nuget package as well.

[2018-07-23 11:40] Ruslan-B commented on #96
It could be the case as strings are marshaled as ANSI null terminated (LPStr). I guess I can change it to LPUTF8Str - assuming this will address the problem have to migrate to 4.0.

[2018-07-23 12:17] Ruslan-B commented on #96
I can prepare private package for you for testing, as it seams there is no official support for LPUTF8Str yet in .NET (neither core https://github.com/dotnet/corefx/issues/7804  or standard https://github.com/dotnet/standard/issues/595).
It works in a form of hack [MarshalAs((UnmanagedType)48)] instead of [MarshalAs(UnmanagedType.LPStr)].
Besides it is unclear how it is going to work in case of .n

[2018-07-23 13:31] superware commented on #93
But av_gettime_relative isn't inline :) please see time.h

[2018-07-23 13:41] Ruslan-B commented on #93
Oh I see now. It is different story - `time.h` is not included in the generator. This one should be easy to fix. Any others?

[2018-07-23 13:46] Ruslan-B commented on #93
I updated nuget package to 4.0.0.4.

[2018-07-23 17:42] superware commented on #93
That's awesome, now only av_q2d (rational.h) left, since av_q2d is so common, and the body is actually valid C#... :-)

[2018-07-24 20:41] Ruslan-B commented on #93
Work in progress... 😝 There are a lot of inline functions and I ready encountered some of the in the past as well.

[2018-07-24 20:44] Ruslan-B commented on #96
If you don't mind I'll rename the issue into interop unicode support? As it concerns not only Chinese.

[2018-07-25 08:14] imylover commented on #96
With your help,I solved the problem. I'm not sure this problem will happen in other languages. I think the problem arises because of Unicode.  Thank you again.

[2018-08-02 19:50] Ruslan-B commented on #96
@KFAFSP thank for the hint I'll try to do so.

[2018-09-02 17:10] superware commented on #93
Isn't FFmpeg 4.0.2 worth advancing?

[2018-09-02 19:49] Ruslan-B commented on #93
Using semantic versioning means there’s no api changes (only bug fixes), thus bindings are binary compatible, however I’ll double check on this.

Cheers,
Ruslan

[2018-10-01 10:30] choiseonho opened #98 "How can i Play RTSP Stream Audio With Video"
Thank you.....

i making rtsp stream player to use opencv..

example Project is wonderful.

But that is with not Sound T_T

Can you help me???

i Added thid Code and i think i found Audio Stream Number... But i don't know next step T_T
Help me....

        private readonly AVCodecContext* _aCodecContext;
        private readonly AVFormatContext* _aFormatContext;
        private readonly int _a_str

[2018-10-01 11:03] Ruslan-B commented on #98
Hi @choiseonho, please post your question on stackoverflow.

[2018-10-01 11:03] #98 closed

[2018-10-11 09:07] choiseonho opened #99 ""max delay reached" Error... rtsp Stream"
I try Get Packet from Axis IP Camera... ( h264 / 1280x720 / 20Mbps / rtsp )

But...  "max delay reached" Error T_T

i found this...

https://superuser.com/questions/1282794/ffmpeg-passthrough-of-mpeg-transport-stream-causes-errorsglitches-in-stream

because -re Command....

Can you Fix that for me?

![image](https://user-images.githubusercontent.com/17864839/46793311-5fb4ea00-cd80-11e8-89eb-bf1047

[2018-10-11 09:20] Ruslan-B commented on #99
No I don't. Besides, if you keep ignoring issue template I'll ban you from this repo.

[2018-10-11 09:20] #99 closed

[2018-10-11 10:44] BBUBBA commented on #99
Sorry !!!!!!T.T

[2018-10-11 11:45] Ruslan-B commented on #99
I'll repeat one more time for clarity:
**The FFmpeg API is vast and complex and this project exposes it with minimum modifications - support is very limited.
Please consider to ask *how to* questions on [stackoverflow.com](https://stackoverflow.com/search?tab=newest&q=ffmpeg%20autogen).
The community may be able to offer some assistance but you will largely be on your own.
As another option you ca

[2018-10-18 04:52] BBUBBA commented on #99
I solve this Trouble Now.

Thank you Ruslan-B !!!
Have a Nice Day ^^

1. Convert Function Move UI Thread (Async Processing)
2. Send Data -> UI thread (Event)

                    while (vsd.TryDecodeNextFrame(out var frame))
                    {

                        // Call Event UI Thread
                        // Convert Function => Move UI Thread
                        //var convertedFra

[2018-11-07 01:23] iamcarbon opened #100 "Update for 4.1"
ffmpeg 4.1 was just released. it would be nice to get updated bindings.

[2018-11-07 08:21] Ruslan-B commented on #100
Ok, on it.

[2018-11-07 19:04] Ruslan-B commented on #100
Update, there is no build yet for 4.1 https://ffmpeg.zeranoe.com/builds/

[2018-11-07 19:19] iamcarbon commented on #100
@Ruslan-B Looks like Zerano hasn't caught up with the official release (https://ffmpeg.org/download.html). Guessing it will land soon.

[2018-11-07 21:48] Ruslan-B commented on #100
I've send a message to zeranoe will see how fast it going to take to update the build.

[2018-11-12 23:17] iamcarbon commented on #100
@Ruslan-B Looks like the builds were just updated on zeranoe. https://ffmpeg.zeranoe.com/builds/

[2018-11-12 23:29] Ruslan-B commented on #100
Will do right in the morning tomorrow.

[2018-11-13 00:04] superware commented on #93
Hello @Ruslan-B, will you be able to incorporate the following in the 4.1 update?

[code]

Much appreciated.

[2018-11-13 18:16] Ruslan-B commented on #93
Will do this weekend.

[2018-11-18 13:45] RogerHardiman opened #101 "Custom Marshaler issue with UWP project"
* **I'm submitting a ... **
  - [X] bug report
  - [ ] feature request
  - [ ] support request or question

* **What is the current behavior?**
I am trying FFMPEG Autogen in a Xamarin Project with a Windows UWP target.
An Exception is thrown when calling av_version_info()
The exception tells me that FFMPEG AutoGen is using a Custom Marshaller which is not permitted.

I wonder if it related to the

[2018-11-18 17:40] Ruslan-B commented on #101
Hi there  I'm pretty sure that you even cannot load native Win32 DLL into UWP app. FFMPEG binaries has to be compiled for[ WinR](https://trac.ffmpeg.org/wiki/CompilationGuide/WinRT).
With respect to 'Custom marshalers are not supported' well here we have to wait for .NET Core 3.0 where Microsoft promised UWP support for core apps.
However, it is still possible to "downgrade" bindings to pointers a

[2018-11-18 19:29] #100 closed

[2018-11-18 19:38] Ruslan-B commented on #100
Well it took a little bit more time than I anticipated. I've updated the package.

[2018-11-18 19:42] Ruslan-B commented on #93
@superware I've pushed the fist revision of the inline methods. I fixed them by hands so it would be great if you can review the implementation.
For now I'll keep this issue open as I still would like to implement some kind of persistence as right now hand coded methods will be wiped during regeneration.

[2018-11-19 10:05] RogerHardiman commented on #101
Hi
Thanks for the quick reply.
In my test UWP project I did go on to call some other ffmpeg functions (ones that did not return strings) and they executed fine but I was just allocating data structures. I never got as far as passing in a SPS, PPS and NALs for ffmpeg to decompress to a YUV image.
So you may be right that I'll hit another wall with UWP soon.

It was a proof of concept so maybe for t

[2018-11-19 12:09] Ruslan-B commented on #101
Well if you saying some functions  are working well I can try to take a look what can be done wrt to custom marshalling. However, if you are going to deploy this app to HoloLens for example it will not work with Win32 DLLs.

[2018-11-19 12:15] RogerHardiman commented on #101
The target is just Windows Desktop.
(what I have is a Xamarin Forms project for Android, iOS and MacOS. Xamarin Forms also targets UWP and in recent builds target WPF. I was trying to port some test code over to UWP, but can always fall back to WPF if needed.

I've got other things on this week but when I get a chance I'll check if the other functions are working properly in the UWP build. If they

[2018-12-11 16:29] superware commented on #93
@Ruslan-B is it possible the latest release doesn't have av_gettime_relative? :o

[2018-12-11 19:14] Ruslan-B commented on #93
rats! I show off time.h :(

[2018-12-11 19:54] Ruslan-B commented on #93
should work now, feel free to reopen.

[2018-12-11 19:54] #93 closed

[2018-12-20 08:04] ispysoftware opened #102 "not loading correct dll on xbox"
* **I'm submitting a ... **
  - [ ] bug report

* **What is the current behavior?**
when i deploy my app to an Xbox one, it's crashing saying

Unable to load DLL 'avdevice.58': The specified module could not be found. avdevice-58.dll is in the same directory as the executable and it works fine on the PC (64 bit).

* **If the current behavior is a bug, please provide the steps to reproduce and if p

[2018-12-20 08:11] ispysoftware commented on #102
I think LoadLibrary should be using this on UWP:

[DllImport("API-MS-WIN-CORE-LIBRARYLOADER-L2-1-0.DLL", SetLastError = true)]
public static extern IntPtr LoadPackagedLibrary([MarshalAs(UnmanagedType.LPWStr)]string libraryName, int reserved = 0);

instead of

[DllImport(Kernel32, SetLastError = true)]
public static extern IntPtr LoadLibrary(string dllToLoad);

https://stackoverflow.com/questions/4

[2018-12-20 09:02] Ruslan-B commented on #102
Maybe, but have you look here #101? I don't think you will be able to load win32/64 libriaries in WinRT enviroment. https://docs.microsoft.com/en-us/cpp/porting/how-to-use-existing-cpp-code-in-a-universal-windows-platform-app?view=vs-2017
As I don't have xbox (never will 😛), could help to test proposed solution first?
You can try to redifine ```ffmpeg.GetOrLoadLibrary```, but I guess next challage

[2018-12-20 09:30] ispysoftware commented on #102
xbox is basically windows x64 so it should (in theory) work. I'll try it and let you know

[2018-12-20 11:35] ispysoftware commented on #102
Yeah ok, doesn't work. bugger. Just throws the same error. Seems like a bit of a show stopper.. several months work down the drain.

[2018-12-20 13:56] Ruslan-B commented on #102
A few extra hits: try just try to import something simple like av_init with dll import attribute. As next step would be to compile ffmpeg for WinRT.

[2018-12-21 03:32] ispysoftware commented on #102
that worked! changing the loadlibrary to loadpackagedlibrary and building and including the winrt ffmpeg dlls works.. now onto opencv :(

thanks for your super quick responses, much appreciated.

[2018-12-24 08:37] Ruslan-B commented on #102
@ispysoftware I glad you found solution, and  thank you for the sharing end result, I'm going to work with UWA any way, however, not with this library but I'll try to make something generic from it. As might conflict with .NET Core apps.
Besides, what way did you used to compile WinRT FFmpeg?

[2018-12-24 08:38] Ruslan-B commented on #101
Hi there you might be intrested in this issue #102.

[2018-12-24 08:38] Ruslan-B commented on #101
#102

[2018-12-24 09:34] ispysoftware commented on #102
I went through this
https://trac.ffmpeg.org/wiki/CompilationGuide/WinRT
- now i need to add support for h264 encoding to the UWP ffmpeg build which is proving to be quite painful..

[2018-12-30 05:57] jmacato opened #103 ""avutil.56" not found on Ubuntu 18.04"
This may not be a bug/feature request however, so I'd like to ask on what package should be installed on Ubuntu 18.04, i've tried running the example project (w/ .NET Core) and got the ff. exception:

[code]

I've updated+upgraded all necessary ffmpeg libs on apt so i'm not quite sure how to proceed on this one.

[2018-12-30 06:05] Ruslan-B commented on #103
You have to set static ```ffmpeg.RootPath``` to your FFmpeg library location.

[2018-12-30 06:05] #103 closed

[2018-12-30 12:47] jmacato commented on #103
FYI: for everyone using LTS versions of Ubuntu, the upstream apt didn't update their FFmpeg versions to 4.0, hence the error i encountered. Install FFmpeg 4.0 on your distros so that this wrapper lib work :)

[2019-01-15 02:04] meomeo0110 opened #104 "ffmpeg.sws_getContext() throw error message: "System.ArgumentException: An item with the same key has already been added.""
Hi Ruslan-B,

At version 3.4.0, when ffmpeg.sws_getContext() run under multi threading (50 task), the code: ffmpeg.sws_getContext() throw error message: "System.ArgumentException: An item with the same key has already been added."
[code]
I fix it by adding a lock when call sws_getContext():
[code]
I searched in the internet and saw the sws_getContext() use: av_malloc() and av_freeContext().
Howeve

[2019-01-15 08:52] zgabi commented on #104
No, it is not related to the inner function calls of ffmpeg. You get an exception, which means the problem is in the .net code. If seomthing fails in ffmeg you get an error code or the whole application crashes with AccessViolation:)

The problem you mentioned was fixed by be in 2017 dec 22: https://github.com/Ruslan-B/FFmpeg.AutoGen/pull/81/files

Do you have any reason not to upgrade to 3.4.0.6?

[2019-01-15 08:53] Ruslan-B commented on #102
Closing issue as not releated to bindings itself .

[2019-01-15 08:53] #102 closed

[2019-01-16 05:02] meomeo0110 commented on #104
Hi zgabi,

Thank you for details explanation and useful information.
I upgrade the version and this exception disappeared.

Thank you very much!

[2019-01-16 05:12] meomeo0110 commented on #104
Hi zgabi,

Although the issue is resolved, I still have concern.
How to your code can fix this issue?
Before I call: ffmpeg.sws_getContext(), there are methods such as: ffmpeg.avformat_alloc_context(),
ffmpeg.avformat_open_input(), ffmpeg.avformat_find_stream_info() is invoked.
As my previous comment, I also can fix it by locking when can: sws_getContext().

Thank you.

[2019-01-16 07:06] Ruslan-B commented on #104
The name is race concurrency any might fall. Closing issue.

[2019-01-16 07:06] #104 closed

[2019-01-16 07:30] zgabi commented on #104
avformat_open_input and sws_getContext are in 2 different dlls. Each dll should be initialized separately, which is done when you call the first function in that dll.

When you call the first function from a dll, it loads that and adds to a dictionary.

The PR added a double checked locking to the "loader" function, which first check the dictionary if it already contains the the library ot not. If

[2019-01-16 08:16] meomeo0110 commented on #104
Hi zgabi,

Thank you very much for explanation!
It seem relate to 'partial' class.

[2019-03-05 08:01] Ruslan-B commented on #64
Closing this issue as irrelevant to project as seems supporting package never going to meet all  users requirements.  So if you don't like GPL binaries you need to build your own very special version of FFMPEG any way.

[2019-03-05 08:01] #64 closed

[2019-03-05 08:04] Ruslan-B commented on #47
Closing issue as it appears if you port any example from FFMPEG c code examples correctly it works. (I know c interop is complex, but this out of the project scope)
ie https://github.com/FFmpeg/FFmpeg/blob/master/doc/examples/transcoding

[2019-03-05 08:04] #47 closed

[2019-03-18 15:48] vnmone opened #105 "avcodec and RootPath"
* **I'm submitting a ... **
  - [x] bug report
  - [ ] feature request
  - [ ] support request or question => Please do not submit support request or questions here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
Bug report

* **What is the current behavior?**
avcodec-58.dll
swresample-3.dll

This dll's must be in the program folder and the RootP

[2019-03-18 16:48] Ruslan-B commented on #105
Yay, how come you got linux dll naming convention on windows system?

Cheers,
Ruslan

[2019-03-18 17:09] vnmone commented on #105
Hi, Ruslan!
Do you mean "avformat.58" in error message?

[2019-03-18 19:04] Ruslan-B commented on #105
Right, this is just a message, has nothing to do with linux. However, I found source of the problem it is dll loading sequence as ffmpeg internally linked against each other in this particular case OS cannot resolve dependency as it not included in dll search pass. As a fast workaround, I can advise to use SetDllDirectory to include root path into dll search path. Meanwhile, I'll take a look how t

[2019-03-20 08:33] IOL0ol1 opened #106 "Cannot implicitly convert type 'int' to 'uint'."
1 clone from git
2 compile and run FFmpeg.AutoGen.CppSharpUnsafeGenerator with **VS2017 , Windows10**
3 only FFmpeg.functions.inline.g.cs file has been updated and some errors in it.

for example，the  function in old FFmpeg.functions.inline.g.cs is like this
[code]
but in new FFmpeg.functions.inline.g.cs is like this
[code]

Seems to be a direct copy of the contents of the inline function in the h

[2019-03-20 08:50] Ruslan-B commented on #106
It is known issue there is no way (yet, may be never will be) to auto convert inline expressions. They are converted manualy right now. However, there are hash computed in order to determen change in function. I'll add ability to keep existing C# fuction body later on.
But if you like to have a custom build right now just revert ffmpeg.functions.inline.g.cs to the original state.
Keep this issue o

[2019-03-22 12:07] Krakean opened #107 "Update to Ffmpeg 4.1.2"
Hello
Can you please binaries to Ffmpeg 4.1.2 (currently in release/4.1 branch only, but I guess its safe to take this version as-is from ffmpeg git)?
Also, can you also please provide linux/osx binaries in Ffmpeg/bin/x64 folder?

[2019-03-22 12:53] Ruslan-B commented on #107
Hi there,

For starters keep in mind binaries in this reposiotry are GPL binaries so be careful here.
The only reasone they are in repository as they used during generatrion to extract exported functions. Next FFmpeg uses semantic versioning so 4.1.2 means bugfixes and no changes in API.
Thus it is not important for generation and as a consiquence I'm not going to update them.
With respect to linu

[2019-03-22 12:53] #107 closed

[2019-03-23 08:28] feliwir opened #108 "Use av_image_fill_arrays with AVFrame"
Hey, how can i use `av_image_fill_arrays` with AVFrame?
The problem here is that `av_image_fill_arrays` expects a `byte_ptrArray4`, but AVFrame->data returns `byte_ptrArray8`, which are non convertible in FFmpeg.AutoGen. I saw the example in `VideoFrameConverter`, but it avoided using an AVFrame

[2019-03-23 09:21] Ruslan-B commented on #108
Any fixed array has to methods ```ToArray()``` and ``UpdateFrom(array)```

For example:
[code]

[2019-03-23 09:21] #108 closed

[2019-03-23 09:44] feliwir commented on #108
I saw that, but it copies the data, which isn't necessary there.

[2019-03-23 15:51] Ruslan-B commented on #108
It is just 4 pointers, right?

[2019-03-24 22:13] wegel commented on #101
@RogerHardiman were you able to test if FFmpeg.AutoGen works in UWP or did you have to revert to WPF? Just curious, as I'm about start development on an desktop app and I'm currently planning on UWP.

[2019-03-25 07:34] RogerHardiman commented on #101
Hi @wegel
I never returned to the UWP or WPF projects. I moved on to something else.
The UWP and WPF projects were 'just for fun', seeing if I could target those platforms using some existing Xamarin Forms projects originally written to target iOS, MacOS Android and Win32+GTK.

So I never had time to go hack to UWP or WPF.

[2019-03-25 13:32] Ruslan-B commented on #101
Hi there,

I have no plans to experement with UWA but if you are planning to build desktop only. According to this https://github.com/Ruslan-B/FFmpeg.AutoGen/issues/102 you should not have that many problems.
Wonder why do you need UWA for desktop as in .net core 3 wpf is a first class citizen(?)

Cheers,
Ruslan

[2019-03-26 17:56] feliwir commented on #108
True, i missed that 👍

[2019-03-28 19:53] Sebanisu opened #109 "Kernel32 not found (on linux) GetFunctionPointer"
**Note: for support questions, please use [stackoverflow](https://stackoverflow.com/search?tab=newest&q=ffmpeg%20autogen)**. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ... **
  - [x] bug report
  - [ ] feature request
  - [ ] support request or question => Please do not submit support request or questions here, see note at the top of this temp

[2019-03-28 20:04] Sebanisu commented on #109
I changed the code for GetFunctionPointer
from
`private static IntPtr GetFunctionPointer(IntPtr nativeLibraryHandle, string functionName)
        {
#if NET45
            return WindowsNativeMethods.GetProcAddress(nativeLibraryHandle, functionName);
#else
            if (RuntimeInformation.IsOSPlatform(OSPlatform.Linux))
                return LinuxNativeMethods.dlsym(nativeLibraryHandle, functionN

[2019-03-28 20:16] Ruslan-B commented on #109
Well it is quite obvious you are getting wrong platform id from [GetPlatformId](https://github.com/Ruslan-B/FFmpeg.AutoGen/blob/f0562e9ca3bfd1fd6b3c9cb566b0ddd32bad4e5e/FFmpeg.AutoGen/Native/LibraryLoader.cs#L17).
It is possible to override library loading by overriding static delegate ```ffmpeg. GetOrLoadLibrary``` so you can call native loading methods from ```LinuxNativeMethods``` directly.

[2019-03-28 20:22] Ruslan-B commented on #109
Ignore upper comment. Now I see frankly speaking we did not expected that someone going to use none .NET Standard version of the library on linux environment. I'll integrate your suggestions in to the  repo and update the package.

[2019-03-29 02:33] beefsteak commented on #96
I have the same problem，How to solve it？

[2019-03-31 02:00] Sebanisu commented on #109
I was wondering if I should do a fork, commit and do a pull request?

[2019-03-31 11:32] Ruslan-B commented on #109
You can, but I’ll be able to update package this only Sunday. I’m on vacation now and don’t have access to my window machine.

[2019-04-01 01:06] Sebanisu commented on #109
Sorry for the delay, I work on the weekends so I couldn't do the pull request till I got home. Have a good vacation.

[2019-04-10 12:56] #109 closed

[2019-04-10 13:15] #96 closed

[2019-04-10 13:27] Ruslan-B commented on #96
Update to most recent package please.

[2019-04-17 10:52] ispysoftware opened #111 "Adding ffmpeg.autogen to windows uwp project breaks release build"
Empty UWP project, add ffmpeg.autogen as a reference.
Build with release build it causes an exception:

2>  App1 -> D:\Projects\App1\bin\x86\Release\App1.exe
2>  Processing application code
2>C:\Users\sean\.nuget\packages\microsoft.net.native.compiler\2.1.8\tools\Microsoft.NetNative.targets(788,5): error : Internal compiler error: Object reference not set to an instance of an object.

-not sure if

[2019-04-17 10:55] Ruslan-B commented on #111
Can I have an example solution?

[2019-04-17 11:22] ispysoftware commented on #111
it's trivial - just create a new UWP project, add a reference to ffmpeg.autogen, change to release build and compile - should through that compiler error.

[2019-04-17 11:23] ispysoftware commented on #111
.. add the ffmpeg.autogen nuget package to it

[2019-04-17 11:25] Ruslan-B commented on #111
ok gonna try

[2019-04-17 13:01] ispysoftware commented on #111
tried it on vs 2017 and vs 2019, builds 16299 through to 17134, 32 bit and 64 bit

[2019-04-19 05:22] ispysoftware commented on #111
did you manage to repro this? I've logged a support request with Microcrap - but not very hopeful on a response

[2019-04-20 11:10] ispysoftware commented on #111
i've got a bug logged here
https://developercommunity.visualstudio.com/content/problem/536403/internal-compiler-error-26.html
managed to repro it with a few lines of code from the autogen project

[2019-04-24 07:00] ispysoftware commented on #111
Adding:

    <Type Name="FFmpeg.AutoGen.long_array4" Dynamic="Excluded"/>
    <Type Name="FFmpeg.AutoGen.ulong_array8" Dynamic="Excluded"/>
    <Type Name="FFmpeg.AutoGen.long_array17" Dynamic="Excluded"/>
    <Type Name="FFmpeg.AutoGen.double_array399" Dynamic="Excluded"/>

to properties/default.rd.xml in the UWP project works around this issue

[2019-04-24 07:00] #111 closed

[2019-04-24 07:07] Ruslan-B commented on #111
I'm sorry been on vacation for a while but glad you found a workaround. Do you have any idea as for root couse?

[2019-04-24 07:42] ispysoftware commented on #111
yeah it's a bug in their new native compiler - they're working on a fix but won't get it done for a while

[2019-04-28 13:34] bage2017 commented on #109
ffmpeg.autogen rtsp to rtmp？

[2019-05-07 10:34] springy76 commented on #91
Using a fresh machine and a fresh checkout (April 2019) I still have to eliminate this `..\` (and disable `Prefer32Bit`) for CppSharpUnsafeGenerator to work at all.

[code]

[2019-05-07 17:54] Ruslan-B commented on #91
you most probably using 'Any CPU' asa target for generator you have to pick x64 :) otherwise it will be impossible to extract exports from ddl's.

[2019-05-07 19:18] springy76 commented on #91
I'm just confused that I always have to change several things to get it compile at all, and when it finally runs the "generated" output always changes, but I meanwhile noticed there is already an issue for this (#106).

[2019-05-07 19:39] Ruslan-B commented on #91
you right here, not perfect and requires some manual effort mostly in discarding changes. As for #106 I decided to wait for next release as it seems to unreasonable to invest time when there is no api change on the ffmpeg side.

[2019-05-08 14:42] springy76 opened #112 "VideoStreamDecoder.TryDecodeNextFrame (sample) leaks unmanaged memory"
I already disabled/tested everything else, only within `TryDecodeNextFrame` unmanaged memory gets leaked. Definitley not the entire frame buffers but when 16 threads are processing frames then I loose 1GB per minute -- managed RAM keeps constant at ~250KB.

[2019-05-08 15:15] springy76 commented on #112
Seems every uninteresting frame filtered by `while (_pPacket->stream_index != _streamIndex)` gets leaked.

[2019-05-08 18:57] Ruslan-B commented on #112
Looking into TryDecodeNextFrame and trying to compare code with examples in C - I see quite ofter they are using av_free_packet after each av_read_frame but av_free_packet  is marked as obsolete with advice to use av_packet_unref instead.

I tried to rewrite TryDecodeNextFrame in order to do so per packet and I see the app consumes a littel bit less memory:

[code]
Please let me know if it going t

[2019-05-13 16:51] springy76 commented on #112
I meanwhile restructured the code as below to handle (drain) any buffered frames and also not to stop/exit on invalid packets:

[code]

[2019-05-14 18:05] Ruslan-B commented on #112
Well I'm ported code from the C examples of FFmpeg and didn't invent it myself. On the other hand they usually operating withing a single stack frame without any OOP :). I try to reintegrate this code into example, I hope it is okay with you, besides I might change it as well.

[2019-05-14 19:28] springy76 commented on #112
Feel free to do whatever fits best with this code. I tested it against some thousand files with great success.

[2019-05-18 08:58] quocdai92 opened #113 "How to get frames number of a video?"
Hello everyone,
I'm developing my application, I don't know to get the frames number of a video. Anyone can help me? Thanks

[2019-05-18 09:37] Ruslan-B commented on #113
Annoying 🤦, go to stackowerlow or to ffmpeg C examples

[2019-05-18 09:37] #113 closed

[2019-05-29 06:02] taurushz opened #114 "how to use ffmpeg cmd?"
how to use ffmpeg cmd?
just like:
ffmpeg -ss 00:00:00 -t 00:00:30 -i test.mp4 -vcodec copy -acodec copy output.mp4

[2019-05-29 07:24] Ruslan-B commented on #114
How on Earth this connected with this project?

[2019-06-01 02:47] daverobo commented on #105
I had a similar issue when trying to set the ffmpeg.RootPath property. I resolved it by specifying the DLL load order. I was able to do this because I am using the costura.fody library. The unmanaged DLLs are embedded as resources, and copied to a temporary directory during module initialisation. Not entirely sure but it appears to also call SetDllLibrary(temp-dir) and LoadLibrary(*.dll). The ffmp

[2019-06-07 16:37] esmelov commented on #105
I have same problem in gnu linux docker image.

[2019-06-08 09:13] quocdai92 opened #115 "Can't seek to specified frame with av_seek_frame"
Hi these,
I have got a problem when I try to seek my video to special frame. This is my code:

`public void GetFrame(int index)`
`{`
`long timeBase = (_pCodecContext->time_base.num) * ffmpeg.AV_TIME_BASE / _pCodecContext->time_base.den;`
`long seekTarget = index * timeBase;`
`int result = ffmpeg.av_seek_frame(_pFormatContext, -1, seekTarget, ffmpeg.AVSEEK_FLAG_ANY);`
`if (result < 0)`
`{
Console.W

[2019-06-13 03:36] Trapov commented on #103
@Ruslan-B

I've set the `ffmpeg.RootPath` property before initializing the library, yet one of the deps didn't load. It did load `libavutil` tho.
[code]

[code]
[code]

[2019-06-13 21:17] Ruslan-B commented on #105
Get new package if problem is reacquiring fell free to reopen

[2019-06-13 21:17] #105 closed

[2019-06-13 21:18] Ruslan-B commented on #103
Get new package if problem is reacquiring fell free to reopen

[2019-06-13 21:23] Ruslan-B commented on #115
I do appreciate your effort to explain a problem  and must admit it has all necessary information, but please in future try to do not ignore issue temple, as this kind of questions seems to be more related to [stackoverflow.com](https://stackoverflow.com/search?tab=newest&q=ffmpeg%20autogen) kind of questions as they have a solid community and reputation system which encourage to proved an answer.

[2019-06-13 21:23] #115 closed

[2019-06-13 21:25] Ruslan-B commented on #101
@RogerHardiman is this question still valid for you?

[2019-06-14 06:28] RogerHardiman commented on #101
Let's close it. There has been no change to this Issue. I have not had time to go back to the project I was working on and now working on other things.

[2019-06-14 06:28] #101 closed

[2019-06-18 08:09] liuyuqingenglish opened #116 "How can I convert a h264 raw stream to rgb and play it with ffmpeg.autogen"
How can I convert a h264 raw stream to rgb and play it with ffmpeg.autogen。Below is my code, but it doesn't work，Dear author can help me see what went wrong?
******************************************************************************************
       /// <summary>
        /// 对读取的264数据包进行解码和转换
        /// </summary>
        /// <param name="show">解码完成回调函数</param>
        /// <param name="url"

[2019-06-18 08:25] Ruslan-B commented on #116
Going to keep it as an art - please don't try to repeat this, looks miserable.

[2019-06-18 08:25] #116 closed

[2019-06-18 08:29] Ruslan-B commented on #116
P.S. chinese adds a colorrite but not the reason why, eventually 99% ignores an issue  template and call to post question on stackoverflow.com. Human nature - unfortunately.

[2019-06-18 08:30] Ruslan-B commented on #116
I **do** give you a tool - **not the solution**.

[2019-06-18 08:32] liuyuqingenglish commented on #116
sorry  But I really don't know ffmpeg very well.

[2019-06-18 08:34] liuyuqingenglish commented on #116
How should I package a piece of h264 naked stream into AvPacket?

[2019-06-18 08:37] Ruslan-B commented on #116
I'll give a hint this not the place to ask questions about ffmpeg as it doesn't matter - are you suing c# or C or C++.

[2019-06-18 08:43] liuyuqingenglish commented on #116
Sorry again, I should follow the template to ask questions, but I didn’t pay attention.

[2019-06-18 08:48] liuyuqingenglish commented on #116
I have been afflicted with this problem for several weeks (using c# to convert h264 to rgb), I am not very familiar with the native ffmpeg, found that this tool can use ffmpeg through c#, but do not know how to pass h264 array to this tool, I hope the author can help me see this question. Thank you very much.

[2019-06-18 08:57] Ruslan-B commented on #116
that is exactly what the example project is doing - converting h264 stream to rgb bitmaps

[2019-06-21 10:47] esmelov opened #117 "Error in avformat_open_input"
OS: Debian GNU/Linux 9 (docker image microsoft/dotnet:2.2-runtime)
FFmpeg.AutoGen: 4.1.0.5
Runtime: .Net Core 2.2

I try decode video from stream, but sometimes I catch error in avformat_open_input, number of error -1094995529.

Code sample:

[code]

[2019-06-21 11:32] Ruslan-B commented on #117
I do recommend to enable logging like example doing and decode error by sending it to av_strerror function.
Besides, this kind of questions seems to be more related to stackoverflow.com.

[2019-06-21 11:32] #117 closed

[2019-06-24 13:10] ASalihov opened #118 "How to convert video?"
Hi!
Can you please explain how can I convert video file from one format to another using this library?
Thanks!

[2019-06-24 15:09] popcatalin81 commented on #118
You'll have to look at [C transcoding samples](https://ffmpeg.org/doxygen/3.3/transcode__aac_8c_source.html) or use [StackOverflow ](https://stackoverflow.com/questions/tagged/ffmpeg)to accomplish this.

This is on the fist page:

[2019-06-24 17:56] Ruslan-B commented on #118
@popcatalin81 thank you. Closing this.

[2019-06-24 17:56] #118 closed

[2019-06-24 23:42] CyberSinh opened #119 "MarshalDirectiveException in av_log_set_callback_callback_func.op_Implicit"
I have compiled my own build of FFmpeg (with the Visual C++ 2019 compiler) and everything is fine but several users have reported me the following issue (I cannot reproduce the issue on my system):

[code]

I use the nuget package v4.1.0.4. Is it a bug on my side or on your side?

Thanks for your help.

[2019-06-25 05:05] Ruslan-B commented on #119
Good question and by default it your side(s) I think, as example projects uses such function and works perfectly in VS2019 preview using C# 8. Besides, Visual C++ 2019 has nothing to do here as it not used at all here.

[2019-06-25 05:09] Ruslan-B commented on #118
dig a little bit the history here is transcoding example  https://gist.github.com/Ruslan-B/43d3a4219f39b99f0c9685290dcd23cc

[2019-06-25 06:59] CyberSinh commented on #119
Just to be sure, could you try to run your tests with the following FFmpeg build:
[FFmpeg.zip](https://github.com/Ruslan-B/FFmpeg.AutoGen/files/3323926/FFmpeg.zip)

Thanks!

[2019-06-25 08:05] Ruslan-B commented on #119
You cannot do it yourself? What you asking is beyond normal - why should I run your binaries on my system? Rhetorical question though.
Nevertheless, I don't how you managed to get them seems they have a mixed platforms 86-64:
![image](https://user-images.githubusercontent.com/3823565/60080593-82c9d300-9730-11e9-8208-a22f311c14aa.png)
Left is from zeranoe build right is yours.

[2019-06-25 08:07] Ruslan-B commented on #119
Reread the question and got the problem - you  got the head version of ffmpeg right?

[2019-06-25 09:06] CyberSinh commented on #119
I have compiled FFmpeg v4.1.3 (in x86) that should be compatible with your v4.1.0.4 nuget package.

DependencyWalker has not been updated for 13 years now and seems not to like DLL compiled with the latest versions of Visual Studio. I have no problem with loading the DLL with https://github.com/lucasg/Dependencies.

[2019-06-25 10:44] Ruslan-B commented on #119
Well, than it supposed to work. I tried but cannot load you binaries  LoadLibrary from Kernel32 gives null back right on avutil-56.dll in x64 mode. My Windows Version is 10.0.17134 Build 17134
It might just bug in a preview version of VC++ 2019.

[2019-06-25 11:13] Ruslan-B commented on #119
Guess what - your binaries are build for i386 i.e. 32-bit and I simply cannot load them in 64 bit mode and .net core refuses to start in 32 bit.

[2019-06-25 11:43] Ruslan-B commented on #119
After tinkering a bit with full framework got it "working" with your binaries in 32 bit mode:
![image](https://user-images.githubusercontent.com/3823565/60095433-d6e3b000-974e-11e9-83e5-e882cdd7c07d.png)
As you see av_log_set_callback invocation went fine, it fail to resolve coded but that's normal looks like your binaries is a LGPL comparable build.

[2019-06-25 12:16] CyberSinh commented on #119
So, neither my custom FFmpeg builds nor your project seems to be buggy. Maybe the problem comes from the user (deployment problem, file overwriting,...). Anyway, thank you very much for taking the time to check that everything was okay on your side.

[2019-06-25 13:17] CyberSinh commented on #119
Another hypothesis, which seems more likely:
https://github.com/unosquare/ffmediaelement/issues/404#issuecomment-505420428

What do you think?

[2019-06-25 14:14] CyberSinh commented on #119
After verification, .NET 4.7 or .NET Standard 2.1 is required for `UnmanagedType.LPUTF8Str`.
Perhaps you could target .NET 4.7 or .NET Standard 2.1 for your nuget package.
That would avoid troublesome crash at runtime.

[2019-06-25 15:10] Ruslan-B commented on #119
Right, could be connected with https://github.com/Ruslan-B/FFmpeg.AutoGen/issues/96 as fix was a hack. Thank for digging further on I'll reopen the issue and update the package any time soon.

[2019-06-27 09:44] Ruslan-B commented on #119
Seams something really-really wrong with Microsoft as I simply can't target to 2.1(+) .NET Standard - have to keep this issue open (the .net471 works okay).

[2019-07-02 18:27] Ruslan-B commented on #119
Had some time to dig deeper. I can compile library targeting netstandard2.1 only in VS2019 and example project must to be targeted to .NET Core 3.0. As long all this stuff still preview I would rather stick to the hack as it mostly works.
Maybe I can add a check in runtime if the .net version is correct but not sure if it going to work.

[2019-07-16 15:12] billHaggerty opened #120 "Linux getting started"
Is there a better getting started guide for linux? It says 'You need to patch FFmpeg.AutoGen.config with full path to FFmpeg libraries.', but that file doesn't even exist to begin with. Is that a file I need to make or is generated via using the CppSharpUnsafeGenerator?

I was hoping I could just use the nuget package or clone and build FFmpeg.Autogen/FFmpeg.Autogen.csproj without using CppSharpUn

[2019-07-16 16:09] Ruslan-B commented on #120
It is outdated you just can use nuget package and specify path to binaries via ffmpeg.RootPath - check example project.

[2019-07-16 16:09] #120 closed

[2019-07-16 16:10] billHaggerty commented on #120
Ok, how do we know what version of ffmpeg and the underlying binaries are the correct ones to use?

[2019-07-16 16:12] Ruslan-B commented on #120
nuget package version is in sync with ffmpeg  version. However,  ffmpeg.RootPath will work only for v4.1

[2019-07-16 16:15] billHaggerty commented on #120
So since im using FFmpeg.AutoGen v4.1.0.5 I should downgrade my ffmpeg from version 4.1.3-0york1~16.04 to a 4.1.0 version?

[2019-07-16 16:19] Ruslan-B commented on #120
No you don't need to do so ffmpeg using semantic versioning means 4.1.x it is only bug fixes in ffmpeg and no changes in api.

[2019-07-16 16:20] billHaggerty commented on #120
Ok, Thanks for your help!

[2019-07-16 19:11] Ruslan-B commented on #120
No problem, you're welcome.

[2019-07-20 13:27] quocdai92 opened #121 "Exception when open video which has file name contains unicode characters."
I used `ffmpeg.avformat_open_input(&pFormatContext, url, null, null)` with `url = D:\Downloads\Videos\Túy Hồng Nhan ( Tân Thủy Hử ) 醉颜红 - Lưu Y Đóa [ sub Kara ].mp4`

The function throw an exception: `Invalid argument` with `error code = -22`

[2019-07-20 13:33] #121 closed

[2019-08-02 12:16] pokernet opened #122 "GPU support ?"
id it support gpu decode encode ??
if sow how ?

[2019-08-02 14:31] Ruslan-B commented on #122
it is in - how - stackoweflow.

[2019-08-02 14:31] #122 closed

[2019-08-06 14:27] comfr3ak commented on #111
This issue still exists and the workaround doesn't fix the issue in my case. Is there an example of what the Default.rd.xml should look like for the workaround the compile in release?

[2019-08-06 21:53] iamcarbon opened #123 "Update to 4.2"
* **I'm submitting a ... **
  - [ ] bug report
  - [x] feature request
  - [ ] support request or question => Please do not submit support request or questions here, see note at the top of this template.

NOTE: We're still waiting for Windows builds to land.

[2019-08-07 17:20] Ruslan-B commented on #123
Will do, but I need a widows build.

[2019-08-08 11:01] a44281071 opened #124 "How to load input from stream or byte array"
Should I push it to stackoverflow?

[2019-08-08 11:34] #124 closed

[2019-08-08 11:35] Ruslan-B commented on #124
Superseding others - I can expect in future on letter issues.

[2019-08-09 23:18] iamcarbon commented on #123
And the build is live. https://ffmpeg.zeranoe.com/builds/

[2019-08-10 12:55] #123 closed

[2019-08-15 11:03] JohnsonGao commented on #108
Meet the same prblem when I transform AVFrame from ARGB to YUV420P.
How to resolve this ?

[2019-08-15 13:23] Ruslan-B commented on #108
@JohnsonGao stackoverflow?

[2019-08-15 13:26] JohnsonGao commented on #108
Sorry for having no enough reputation to send questions in stackoverflow :)

[2019-08-15 16:18] Ruslan-B commented on #108
Sorry I don’t have a skill to read your mind directly, if you have a problem try to express your self better, this issue is closed and I think it has enough information to do not even post here anymore.

[2019-08-19 15:39] JohnsonGao opened #125 "How to transcode audio streams ?"
Hi , I saw your video transcoding class in examples you gave, looks great. Would you please give another example on audio stream transcoding just like ffmpeg classic samples? for instance, from opus to aac ? Thank you !

[2019-08-19 16:34] Ruslan-B commented on #125
Sorry as you might read we do not provide such help. Besides, it is fairly easy to convert C example to C#. Otherwise, you can try to use stackoverflow.

[2019-08-19 16:34] #125 closed

[2019-08-22 15:31] jinyuttt opened #126 "play video files"
**Note: for support questions, please use [stackoverflow](https://stackoverflow.com/search?tab=newest&q=ffmpeg%20autogen)**. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ... **
  - [ ] bug report
  - [ ] feature request
  - [ ] support request or question => Please do not submit support request or questions here, see note at the top of this temp

[2019-08-22 17:41] Ruslan-B commented on #126
you don’t read plain English aren’t you?

[2019-08-23 02:26] Ruslan-B commented on #126
I'm closing this issue as this not lays within a scope of this library and next time please read issue template carefully, otherwise you will get a permanent ban.

[2019-08-23 02:26] #126 closed

[2019-08-25 19:48] nsmith1024 opened #127 "Unity"
Can this FFMPEG work with Unity for Android and iOS?

[2019-08-31 02:51] wangning08115 commented on #122
where this on stackoweflow？  i dont find any info on stackoweflow.

[2019-08-31 03:24] wangning08115 opened #128 "How to decode MP4 file use GPU?"
How to decode MP4 file use GPU?

I use the demo of FFmpeg.AutoGen.
It is good for code:  private static unsafe void DecodeAllFramesToImages()
But this is use CPU to decode.
I want get a demo use GPU to decode.
How can i do this ?

This is FFmpeg.AutoGen demo:
[code]

[2019-08-31 06:00] Ruslan-B commented on #128
Ok, you ask for it - ignoring rules == permanent ban

[2019-08-31 06:00] #128 closed

[2019-09-03 14:00] cyberdecker opened #129 "Compile for custom ffmpeg build in Linux"
Hi, I noticed that the README is not updated in how to build for Linux version. I would like to compile for Linux for a custom build with specific flags of ffmpeg. It is that possible?

Thanks!

* **Please tell us about your environment:**
Ubuntu 18.04
NetCore 2.2

[2019-09-03 15:06] Ruslan-B commented on #129
Do you experience some build issues, or it just dead end question here?

[2019-09-03 16:25] Ruslan-B commented on #129
Fell free to reopen in case you can provide any meaningful feedback

[2019-09-03 16:49] cyberdecker commented on #129
I was referring to:
- `FFmpeg.AutoGen.config` was mentioned in the Readme to be used to compile in Linux, but I saw another issue, #120 , it is clear that is deprecated. So I would like to suggest to update the README to remove this reference to `FFmpeg.AutoGen.config`, as it can confuse other people wanting to build in Linux versions.

Thanks!

[2019-09-03 17:03] Ruslan-B commented on #129
Right it used to be mono particularly- thanks for brining up I will clean  up this.

[2019-09-20 02:33] txgr opened #130 "ffmpeg.sws_scale IntPtr to byte*[]"
Hey, how can i use sws_scale with opencv mat?
The problem here is that sws_scale expects a byte*[], but Mat image.data returns IntPtr,
How to deal with this situation.

[2019-09-20 12:11] Ruslan-B commented on #130
I'm closing this as you ignored template and frankly you should post it on stackoverflow first.
Why should I know what is IntPtr of the Mat - rhetorical question.
However,  I guess you are taking about srcSlice - and if so you could bother to check function documentation.
```/// <param name="srcSlice">the array containing the pointers to the planes of the source slice</param>```
Besides you could

[2019-09-20 12:11] #130 closed

[2019-10-12 00:04] catester commented on #96
For reference, this change has a side effect (for any file name not related to chinese) and it causes the below error when run on .net40 runtime (custom build target, did not test .net45 runtime though):

[code]

Resolved it by reverting to version 4.1.0.3.
I hope there is a more compatible way to do this change. I know you don't even target net40 but just in case.

[2019-10-12 07:36] Ruslan-B commented on #96
Right it is runtime version specific i.e. version of .net installed. I can add support of net40 obviously
but then it will not support any unicode at all. Might be the good time to introduce conditional compiling.

[2019-10-16 04:17] VincentZe opened #131 "Example doesn't work properly when encoding"
Running FFmpeg.AutoGen.Example.
The first frame of out.h264 has extra duration, and lost some frames in the end.

[2019-10-16 07:46] popcatalin81 commented on #131
Yes, you need a better encoding loop. It's described here: https://ffmpeg.org/doxygen/4.1/group__lavc__encdec.html The one in Demo does not handle all cases.

[2019-10-16 08:06] Ruslan-B commented on #131
Yes, indeed it was ported before 4.0, but I don't have enough time too keep track of all changes. As you know almost all API is auto generated. Even though examples are working but they might be outdated.

[2019-10-16 08:26] VincentZe commented on #131
Oh thanks for telling, I'll go read the documents.

[2019-10-16 08:26] #131 closed

[2019-10-16 10:55] Ruslan-B commented on #131
@popcatalin81 my kudos to you personally! As looks like my annoyance to vaguely formed questions is a braking point in this repo development.

[2019-10-17 11:28] popcatalin81 commented on #39
@yoav85 Please feel free to open a new issue with appropriate description and reproduction steps if you think the problems you're encountering are because of FFMpeg.Autogen.

This issue was closed and it's not a good place for discussion.

[2020-01-10 06:06] cdslily opened #133 "question:how to set thread_queue_size"
i use this library to play rtsp stream,it is smooth but rtp missed xx packet.

some body said  enlarge thread_queue_size  will solve it。
can you tell me how to config the thread_queue_size.

Regards！

[2020-01-10 09:47] Ruslan-B commented on #133
To stackoverflow, please **do** not ignore (read) issue template.

[2020-01-12 11:49] AddictedCS opened #134 "EAGAIN value is -35 on OSx environment"
- [x] bug report (potential)

* **What is the current behavior?**
Running on OSx (.NET Core 3.1). FFMpeg installed using brew (v4.2.2)
`EAGAIN` value is -35.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem*:

When decoding frames we iterate until `EAGAIN` is false, meaning `AVFrame*` contains actual data. Code may look like

[2020-01-13 15:25] popcatalin81 commented on #134
@AddictedCS Do you believe this is a FFmpeg.AutoGen or FFmpeg issue?

[2020-01-13 15:48] zgabi commented on #134
EAGAIN = 11 is hardcoded in FFmpeg.AutoGen/FFmpeg.cs so for me it seems to be an FFmpeg.AutoGen issue.

[2020-01-13 16:47] popcatalin81 commented on #134
@zgabi EAGAIN is imported in ffmpeg (see [avcodec.h](https://github.com/FFmpeg/FFmpeg/blob/722547996c27b871c9288c45de9887b98a076750/libavcodec/avcodec.h#L30)) from the standard [erno.h C standard library ](https://en.wikipedia.org/wiki/Errno.h)

EAGAIN is defined as:

#define	EAGAIN 11
and ffmpeg defines [AVEROR](https://github.com/FFmpeg/FFmpeg/blob/722547996c27b871c9288c45de9887b98a076750/libavu

[2020-01-13 17:07] zgabi commented on #134
Yeah, but it has different value in OSx and Linux/Windows:
https://android.googlesource.com/kernel/lk/+/dima/for-travis/include/errno.h

https://github.com/st3fan/osx-10.9/blob/master/xnu-2422.1.72/bsd/sys/errno.h

Which is strange, but seems to be true (haven't tested)

[2020-01-13 17:29] popcatalin81 commented on #134
@zgabi Good catch.

@Ruslan-B FYI  `errno.h` in OSX has a different value for EAGAIN please see [here](https://github.com/st3fan/osx-10.9/blob/34e34a6a539b5a822cda4074e56a7ced9b57da71/xnu-2422.1.72/bsd/sys/errno.h#L132).

This is a good candidate for contributor PR.

[2020-01-13 19:15] Ruslan-B commented on #134
I don’t think it is FFmpeg.Autgen issue as hardcoded value is just for convince. Besides, example project is ported by the book and supports handling of EAGAIN.

[2020-01-14 07:39] AddictedCS commented on #134
@Ruslan-B no rush from my side. Thanks @zgabi for the reference to the error codes.

[2020-02-11 08:00] qaz6908768 opened #135 "avformat_open_input() error"
I use method avformat_open_input() to open stream,code is
string str = "rtsp://192.168.1.108:554/Streaming/Channels/101?transportmode=unicast&profile=Profile_1";
            var format_ctx = ffmpeg.avformat_alloc_context();
            int ret = ffmpeg.avformat_open_input(&format_ctx, str, null, null);
            if (ret != 0)
            {
                Console.WriteLine("fail to open url:" +

[2020-02-11 08:21] Ruslan-B commented on #135
You are ignoring repository issue creation rules. Please use stackoverflow.

[2020-02-29 08:56] #129 closed

[2020-02-29 09:17] #134 closed

[2020-02-29 13:29] Ruslan-B commented on #119
I updated nuget with:
- netstandard2.1, net472 - the are legally doing UTF8 marshaling;
- netstandard2.0, net45 - using hack from #96, but I'll remove this during major upgrade of FFmpeg;
- net40 - not suing any UTF8 marshaling.

[2020-02-29 13:29] #119 closed

[2020-03-01 08:34] #106 closed

[2020-03-01 09:00] Ruslan-B commented on #112
I did memory profiling using recent dotMemory from JetBrains and I failing to see any leaks in the example code in current state. I have a stable plato and about 200MB of total ram consumption.
I do realize though in different scenarios leaks might appear as I found from official examples there is no single way to feed data into decoder. So I'll keep code in current state as it is already complex

[2020-03-01 09:00] #112 closed

[2020-03-17 14:51] qmfrederik commented on #47
I know I'm late to this party, but just wanted to leave this here because I spent some time scratching my head over this:

An `AccessViolationException` in `av_interleaved_write_frame` can happen if the value of `AVFormatContext->pb` is `NULL`. Apparently FFmpeg doesn't  validate this parameter and chooses to crash instead.

This in turn happens if you did not set up I/O for your context. You'll n

[2020-04-24 04:25] ispysoftware opened #137 "library fails to run on non-gpl builds"
postproc is GPL only so if ffmpeg is distributed without postproc ffmpeg autogen fails to load with a postproc missing exception.

[2020-04-28 20:44] Ruslan-B commented on #137
I think library loading is lazy function and it supposed to happens when you trying to call function from postproc library. I don't violate GPL in project because I'm not distributing GPL libraries and API is out of licensing limitations afaik.
What kind behavior are you expecting?

[2020-04-28 20:46] Ruslan-B commented on #137
I now I see avfilter uses it.

[2020-04-28 21:44] #137 closed

[2020-04-28 21:44] Ruslan-B commented on #137
Fixed new nuget in feed.

[2020-05-14 21:58] anchalsinha commented on #127
Would something like this be possible to use? https://github.com/tanersener/mobile-ffmpeg

[2020-05-14 22:11] Ruslan-B commented on #127
Depends from the mobile-ffmpeg build output as if it compatible to current x64/x86-(windows/linux/osx) structure it supposed be easy to create any other native loader for libraries (it wasn't the case in past as form mobile ffmpeg used to be compiled like one static library and I saw same adoption of my library even to this case).
So if you have to time to explore I can give you a hand to friend b

[2020-05-14 22:19] Ruslan-B commented on #127
Looking more precisely  mobile-ffmpeg - it looks like a static **wrapper** around ffmpeg with limited set of functions compare to original library, so I would say mobile-ffmpeg and this projects are incomparable, however with the room to create another project specifically for mobile-ffmpeg and again with the effort from their side providing generic c lang api.

[2020-05-14 22:23] Ruslan-B commented on #127
So not everything looks and quacks like duck is a duck  :stuck_out_tongue_closed_eyes:.

[2020-05-21 09:43] Xhone commented on #59
Hi @Ruslan-B
 I would like to know how  the hwaccel works with DXVA2 using FFmpeg.AutoGen

[2020-06-16 18:19] iamcarbon opened #138 "Update to 4.3"
We have nightly builds, but still waiting for the final Windows build to land.

https://ffmpeg.zeranoe.com/builds/

[2020-06-17 02:48] Ruslan-B commented on #138
Yes, I'll monitor for new release build. As seems zeranoe nightly builds slaking behind for about 48 hours.

[2020-06-17 03:31] nowayout opened #139 "avformat_open_input return error: -1414092869"
version 4.2.2
The code print error: avformat_open_input: -1414092869, can't show device info.
`public unsafe void show_dshow_device()`
`{`
`            AVFormatContext* ictx = ffmpeg.avformat_alloc_context();`
`            AVDictionary* options = null;`
`            ffmpeg.av_dict_set(&options, "list_devices", "true", 0);`
`            AVInputFormat* fmt = ffmpeg.av_find_input_format("dshow");`
`

[2020-06-17 04:27] Ruslan-B commented on #139
It is not binding related, I tried to run your sample ```ffmpeg.av_find_input_format("dshow")``` gives 0x0000000000000000.  Most-probably means this format is not supported with my version of FFmpeg binaries. In my case avformat_open_input gives -2.

[2020-06-17 10:59] Ruslan-B commented on #138
I looked over ffmpeg repository it seems I can use nightly ffmpeg-20200615-9d80f3e from zeranoe for generation, but I wouldn't recommend usage of the binaries as I see few bug fixes been done.

[2020-06-17 15:58] Ruslan-B commented on #138
I've updated nuget package, like I mentioned ffmpeg binaries not latest released as it is still 9d80f3e, but it does not impact generated API.

[2020-06-19 09:41] waleswood commented on #131
Have you solved the problem？

[2020-06-19 09:41] waleswood commented on #131
Have you solved the problem

[2020-06-19 09:42] waleswood commented on #131
@VincentZe
Have you solved the problem

[2020-06-19 09:42] waleswood commented on #131
@VincentZe Have you solved the problem

[2020-06-19 11:12] popcatalin81 commented on #131
@waleswood The Sample does not make the codec go intro draining mode, that's why the last frames are dropped.

From the documentation I've linked above:

[2020-06-23 12:04] EvK opened #140 "av_image_copy segmentation fault on CentOS 8"
I'm submitting a bug report.

I'm using FFmpeg.AutoGen on CentOS 8 (64bit), with default ffmpeg available from package there (of version 4.2.3). I tried below with FFmpeg.AutoGen nuget packages of versions 4.2.1, 4.2.2, 4.3, with the same results.

I have two frames named `canvasFrame` and `cellFrame` and using `av_image_copy` to copy certain data from one to another, using the following code:

[c

[2020-06-24 12:09] Ruslan-B commented on #140
Hi there it seems to be inconsistency in garbage collection between platforms, besides all fixed array types being brought to eliminate all others errors. I know for a long time difference in ffmpeg api wrt 4 and 8  fixed arrays it is not something I invented, but C is more forgiving than C#. Any way I can setup a virtual machine, however, it would be nice to have minimal falling example for CentO

[2020-06-24 15:35] EvK commented on #140
Here is standalone sample code which roughly represents the path in my real code where it segfaults, and which you can copy-paste and run:

[code]
If called with `segfault` parameter as `true` - it uses native FFMpeg.AutoGen `av_image_copy` and segfaults on CentOS 8 as descirbed above. Otherwise it uses "fixed" (though I have no idea if it's really a viable fix or not) version and does not segfaul

[2020-06-25 14:02] Ruslan-B commented on #138
We have a build now but less likely others binaries will change

[2020-06-28 11:06] Ruslan-B commented on #140
Thank you, I'll look into and most-probably try to change generation if possible in general way. I do predict to get some unhappy windows users, it basically breaking change but it never being fully possible to maintain simplicity and backwards comparability.

[2020-06-28 14:37] Ruslan-B commented on #138
Okay here we go https://ffmpeg.zeranoe.com/builds/ updated to 4.3 but in "GPL" build libpostproc is missing including headers. Which me me think it is LGPL build after all and example can't encode h264 using these binaries.
I also don't see any obvious  way to constant zeranoe to let them know about inconsistency.
Technically, I can post updated package as I have to rollback some of the functions,

[2020-06-28 15:10] Ruslan-B commented on #140
After investigation it can be garbage collection I think as value types already fixed stack and it looks like marshaling issue and bug in dotnet. I'll try to workaround this but going to take some time.

[2020-06-29 09:44] waleswood commented on #131
@popcatalin81 I have tried it but it still doesn't work. Can you provide code examples? thank you very much.

[2020-06-29 15:21] popcatalin81 commented on #131
@waleswood Sorry I don't have a code sample available right now.

One day I might take the time to create one and make a PR, but since Ive strayed from this topic in the past year might take a bit longer until I can make the time to get back into the topic.

Best of luck

[2020-06-29 19:53] Ruslan-B commented on #138
I updated binaries to released 4.3 GPL version, no changes needed to latest nuget package (4.3..0.1).

[2020-06-29 19:53] #138 closed

[2020-06-29 20:34] Zeranoe commented on #138
Sorry for the inconvenience here, and the delay on my end.

[2020-07-01 03:54] Ruslan-B commented on #138
@Zeranoe no need for apology, thank you for the swift response!

[2020-09-06 02:21] sdcb opened #141 "sizeof(AVOption) should be 64 instead of 88 in x64"
[x] bug report

* Summary
sizeof(AVOption) should be 64 in x64 and 48 in x86, but turns out it's 88.

* Code to reproduce:
Console.WriteLine(sizeof(AVOption); // 88, should be 64

I believe the C `union` caused this issue, which generate more size than expected.:
[code]

It will generate:
[code]

* **motivation / use case **
Just research and fun :)

* Environment info
FFmpeg: 4.3.1 x64 GPL from h

[2020-09-06 05:00] Ruslan-B commented on #141
Thank you, indeed It is a serious issue, by the fact all union types generated in a wrong way. I'll this fix asap.

[2020-09-06 11:59] sdcb commented on #141
Also maybe you also want add `[StructLayout(LayoutKind.Sequential)]` in every struct generated from ffmpeg :)

[2020-09-06 12:11] sdcb commented on #141
Bug fix demo:
[code]

[2020-09-06 12:39] Ruslan-B commented on #141
Thanks, yes, I'm aware. However, ```[StructLayout(LayoutKind.Sequential)]``` is redundant.

[2020-09-09 03:13] ZhouJie-BBM opened #142 "Some of the struct not match the C struct (like AVDictionary)"
- [x] bug report

* current behavior:
`AVDictionary` in `FFmpeg.AutoGen 4.3.0.1`:

* a minimal demo of the problem, expected behavior:
Console.WriteLine(sizeof(AVDictionary)); // 1, should be 16 in x64

I believe the incomplete struct caused this issue, and AVDictionary struct is defined in dict.c instead of dict.h

* **What is the motivation / use case for changing the behavior?**
Just for fun :)

[2020-09-09 05:13] Ruslan-B commented on #142
Duplicate of #141

[2020-09-09 05:13] #142 closed

[2020-09-09 05:35] sdcb commented on #142
Hey @Ruslan-B , I don't think it's a duplicate, `AVDictionary` is incorrect by class in-complete, `AVOption` is incorrect by `union`.

[2020-09-19 01:50] sdcb commented on #141
Hey @Ruslan-B you got any progress for this?

[2020-09-20 11:42] #141 closed

[2020-09-20 11:49] Ruslan-B commented on #142
Yes, you right it is not a duplicate but if it is defined in ```dict.c ``` than it is not a part of public API. Hence, size will be 1 supposed to be used as pointer and supposed to be created only in unmanaged FFmpeg.
There are quite some of them in ```FFmpeg.structs.incomplete.g.cs```.

[2020-09-20 19:05] sipsorcery opened #144 "Checks in encode example can fail on valid YUV420P frames"
Thx for all the work put into this library! I wouldn't have believed it was possible to make `ffmpeg` easier to use from C# than C++ but this library has done it!

This is a trivial issue for the H264 video encode example. I thought I'd log it in case it helps someone else avoid some head scratching.

The checks [here](https://github.com/Ruslan-B/FFmpeg.AutoGen/blob/077355e86d3f801b4ad63ab0d2e2ae4

[2020-09-21 05:04] Ruslan-B commented on #144
Thank you for sharing with us. I've updated example.

[2020-09-21 05:04] #144 closed

[2020-10-04 16:26] jihye-back commented on #105
I have a same problem in Visual Studio 2019. I think FFmpeg.Autogen can't load  DLL('avformat-58.dll)....😂

[2020-10-05 07:34] zgabi commented on #105
I have the same (can't load avformat.58) problem with a newer (4.3) ffmpeg vesion on a windows server core 2012 R2. (but not on my Win10).. I reverted to an older version of ffmpeg, which works.

[2020-10-06 05:11] Ruslan-B commented on #105
I recently updated binaries from different build source, just in case you are using binaries from repository (keep in mind they are GPL i.e. not free).
All seems to be working fine in my environment. At least calling of ```avformat_alloc_context()``` gives a valid context.
It also might be helpful to check Windows Defender and any other antivirus if happens you have one.

[2020-10-07 11:21] zgabi commented on #105
The binaries uploaded here on 2020.10.06 works for me too.
But the ones which was commited on 2020.06.17 and 2020.06.29 are not working.

Earlier I never used binaries from this repo, I always downloaded them from zeranoe. So I guess you used that too in june.

I don't have defender or any other antivirus software on the Win Server 2012 R2 Core.

[2020-10-07 11:55] Ruslan-B commented on #105
Zeranoe, closed his website last month, besides, last stable release was published was a bit messy as it was LGPL instead of GPL so I guess that was the reason. Now I'm using different source.

[2020-10-07 12:14] zgabi commented on #105
By the way, do you know any other alternative, which provides the same builds as it was on Zeranoe?
I mean the shared not full builds.... the full build on gyan.dev is 30MB bigger, and I don't need them. And the BtbN builds are not release builds :(

[2020-10-07 17:05] Ruslan-B commented on #105
No, I don’t know, but you always can build ffmpeg yourself in the configuration you need to, atm it is not big deal - just google or search on github - plenty of projects and guides.
As for this project - gyan.dev is more than enough for bindings generation.

[2020-10-16 21:41] jaimestuardo opened #148 "Is there an example of encoding a streaming and send it to a RTMP server?"
Hello,

I am developing a C# Winforms application where I need to encode a video streaming and send it to a RTMP server. I am doing the same thing using FFMPEG.EXE tool with these parameters from a Centos 7 script:

    var ops = [
                '-i', '-',
                '-c:v', 'libx264', '-preset', 'ultrafast', '-tune', 'zerolatency',
                '-max_muxing_queue_size', '1000',

[2020-11-04 06:18] phamvv opened #149 "get error: 'Attempted to read or write protected memory. This is often an indication that other memory is corrupt.'"
Hi Brother!

I used your library to decode the my video. but some video i got errors: "Attempted to read or write protected memory. This is often an indication that other memory is corrupt." at sws_scale function.
[https://drive.google.com/file/d/1jOYrTGfcjH2QvuHf4aFBIpxky-7i8wBq/view?usp=sharing](url)
I have tried upgrading ffmpeg library to the latest version, but the problem is still not resolv

[2020-11-27 01:30] ispysoftware opened #150 "gpu decode broken on linux"
Linux uses the VAAPI decoder which is set in the example program.cs to use the AV_PIX_FMT_VAAPI pixel format. This format is not supported by sws_getContext and returns null when the convertcontext is created (and then crashes). Should be modified to use AV_PIX_FMT_NV12 which works.

case AVHWDeviceType.AV_HWDEVICE_TYPE_VAAPI:
                    return AVPixelFormat.AV_PIX_FMT_NV12;

https://gith

[2020-11-27 22:45] ispysoftware commented on #150
same with cuda:
[code]

[2020-12-09 19:38] RogerHardiman opened #151 "Memory Leak in H264VideoStreamEncoder Example"
* **I'm submitting a ... **
  - [x] bug report
  - [ ] feature request
  - [ ] support request or question => Please do not submit support request or questions here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
Report a bug

* **What is the current behavior?**
Memory Leak

* **If the current behavior is a bug, please provide the steps to reprod

[2020-12-22 14:06] arvindsouza commented on #151
Is this problem also present in the VideoStreamDecoder -> TryDecodeNextFrame method? I'm noticing what looks like a memory leak when testing that as well

[2020-12-22 15:01] RogerHardiman commented on #151
Hi, I'll take a look at that example too and do a Pull Request over the next few weeks.

Thanks

[2020-12-23 18:03] Ruslan-B commented on #151
Hi all, better later than never, I looked into issue briefly, please note example was created using example from pre 4.x version, so Dispose is calling av_free function but not av_packet_free (might relevant might be not). The idea  behind that TryDecodeNextFrame should keep packet live till the moment you dispose VideoStreamDecoder. The same kind of logic I see in the example from the link provid

[2020-12-23 18:04] Ruslan-B commented on #150
I'll update example as suggested.

[2020-12-25 07:18] zpmmehrdad commented on #115
@quocdai92 Hi,

Is your problem solved? I have the same problem

[2021-01-22 05:22] sbchong opened #152 "Help!!!"
I want to use C# to encode a .mp4 file , but I do not konw anything of ffmpeg . Can U help me make a encode images to mp4 example , thank U very mach

[2021-01-22 11:36] Ruslan-B commented on #151
I see this issues stalled if no activity here I'll close it after one months.

[2021-02-01 06:27] ChengYen-Tang commented on #151
I also found the same problem, is there any solution?

[2021-02-01 19:53] Ruslan-B commented on #151
Solution is listed in the issue, but no one provided it is a valid one - i.e. how to measure unmanaged pool and referenced example in C is practically what is already implemented in VideoStreamDecoder.

[2021-02-02 12:30] ChengYen-Tang commented on #151
In my situation, I used AutoGen to pull RTSP Stream, and I found that the memory usage increased endlessly.

[2021-02-02 19:42] Ruslan-B commented on #151
I bet you tried proposed change and it doesn't solve the problem right?

[2021-02-18 03:10] #150 closed

[2021-03-05 09:08] 527395632 opened #153 "Where is the download of the relevant DLL library resources?"
Thread ERROR Message：Unable to load DLL 'swscale.5': The specified module could not be found.

![image](https://user-images.githubusercontent.com/20411721/110093171-5a371f00-7dd5-11eb-83b1-d23b38da7880.png)

[2021-03-08 07:48] Ruslan-B commented on #153
I am closing

[2021-03-08 07:48] #153 closed

[2021-03-09 17:22] ChengYen-Tang opened #154 "Push bitmap to rtsp or rtmp server"
Hi @Ruslan-B ,
Can autogen push bitmap to rtsp or rtmp server?

Thank.
Kenneth

[2021-03-09 18:58] Ruslan-B commented on #151
Shall I close the issue as seems it stalled without any resolve?

[2021-03-12 11:31] hanabi1224 commented on #151
@Ruslan-B I slightly modified the example to only decode first 2 frames and use valgrind to check mem leak and got result below
[code]
[code]

then I added ```ffmpeg.av_packet_unref(_pPacket);``` before each read, the leak above is gone. (Still some other leaks tho)

[code]

[2021-03-15 07:23] Ruslan-B commented on #151
I guess we can close the issue - thanks to  @hanabi1224

[2021-03-15 07:23] #151 closed

[2021-03-19 22:24] SuRGeoNix opened #161 "HDR Support (New Feature)"
Hey @Ruslan-B

Hope you doing well! My video player is thirsty for even more quality 😋

I had a quick look to support BT.2020 and HDR and I've noticed that I don't have access to AVMasteringDisplayMetadata structure. (Not sure if more structures are required yet)

Best Regards,
J

[2021-03-19 22:30] Ruslan-B commented on #161
Hi there,, is this API a part of 4.3?
If so could you please pint point to C header files you looking for support, as blunt search gives zero matches.

[2021-03-19 22:32] Ruslan-B commented on #154
I'll move to questions repo in one week. There are few reasons - or you didn't articulate your question well, or you didn't read ffmpeg docs/examples well - in this case I am afraid no volunteers on you behalf.

[2021-03-19 22:34] SuRGeoNix commented on #161
Sure, it seems that's the one!

https://github.com/FFmpeg/FFmpeg/blob/release/4.3/libavutil/mastering_display_metadata.h

[2021-03-20 09:06] Ruslan-B commented on #161
right, (I am scratching my heads search in new VS is broken beyond repair :))
give me few hours

[2021-03-20 12:11] Ruslan-B commented on #161
Updated package:
https://www.nuget.org/packages/FFmpeg.AutoGen/4.3.2

Closing issue, if something missing from HDR API fell free to reopen

[2021-03-20 21:10] SuRGeoNix commented on #161
That was fast, thanks!

I just had a quick look, I was able to get the AVMasteringDisplayMetadata data, however they came with the wrong order. You have an array6[2] instead of array3[2] +array1[2] of AVRationals.

![Untitled](https://user-images.githubusercontent.com/57474895/111885525-07fb1e00-89d1-11eb-9213-18271b5d9e4b.png)

I hit another wall with SharpDX as is deprecated (had to create my ow

[2021-03-21 05:11] Ruslan-B commented on #161
I'll reopen issue as it seems something new with respect to nested arrays. However, can help you with SharpDX.

[2021-03-21 10:08] SuRGeoNix commented on #161
Can we even find SharpDX's latest nuget package (4.2.0) source code (github has an older version)?
I might skip true HDR for now and just focus on HDR->SDR as Flyleaf is mainly for PC monitors (usually no HDR)

[2021-03-21 13:35] Ruslan-B commented on #161
https://github.com/sharpdx/SharpDX/tree/v4.2.0 this one?

[2021-03-21 15:13] SuRGeoNix commented on #161
No, I've checked... for example it misses the Output6 and HdrMetadataHdr10 structure that I'm currently accessing from nuget package (no idea how back it is)

[2021-03-21 16:33] Ruslan-B commented on #161
Well I'll fix the bug in generator - I think will be ready tomorrow during day, but cannot do much with respect to SharpDX.
However I'm using SharpDX.DirectInput for one of my pet projects but novadays I far from FFmpeg, DirectX and OpenGL stuff :).

[2021-03-21 17:17] SuRGeoNix commented on #161
There is no rush for the fix. I've left HDR for now as it requires more research and TIME.

DirectX is a pain in the ass (especially in c#, imagine I've started with monogame, now sharpDX and probably soon only .h) and I've not be serious with it yet. Just enough to make the player smooth but it requires a lot of work and has a lot of "secrets" (no documentations/samples) that I would like to mess

[2021-03-21 18:21] Ruslan-B commented on #161
Done Done https://www.nuget.org/packages/FFmpeg.AutoGen/4.3.2.1

[2021-03-21 18:21] #161 closed

[2021-03-23 08:47] Ruslan-B commented on #140
I think we should close this issue as it seems to be working fine on other platforms and feels like a bug in .net marshaling on specific platform. Could you please retest this using .net5?

[2021-04-02 20:30] erri120 opened #162 "FFmpeg.AutoGen.Redist.windows.x64 not uploaded to Nuget"
The `FFmpeg.AutoGen.Redist.windows.x64` is only in the CI artifact but on on nuget. Do you plan on pushing this to nuget or should we just use the CI artifact?

[2021-04-02 21:02] Ruslan-B commented on #162
Short answer you shouldn't expect nuget or use CI version of ```FFmpeg.AutoGen.Redist.windows.x64```.
The long answer is:
- it is GPL(!) binaries  from [CODEX FFMPEG](https://www.gyan.dev/ffmpeg/builds/) and there are reasons why you should use GPL binaries for generation, but in production it might me unacceptable due source code licensing contamination   - I would lice to avoid delusion and conf

[2021-04-03 06:28] hanabi1224 commented on #162
Agree that binary redistribution is out of the scope of this binding project, in the meanwhile, it will be awesome to make it a separate repo if possible.  Since shared build can be easily installed on linux/osx with their package managers, it seems more useful to have windows redistribution of the shared build. (Package managers mostly provides static build of ffmpeg only).  Correct me if I'm wro

[2021-04-03 08:26] Ruslan-B commented on #162
Remove but why?
I do not distribute binaries FFmpeg and generator doesn't execute any code from FFmpeg as well so no problem with licensing.
This binaries are precondition for cover API completely - what kind of binaries will use end user or service provider is up to them.

[2021-04-03 08:26] #162 closed

[2021-04-03 17:49] hanabi1224 commented on #162
Hmm, as I understand, FFI is also a kind of 'linking' to the native library, when the linkee code (libpostproc) is under GPL, the linking code needs to be GPL as well. (This is my understanding but might be wrong tho)

[2021-04-03 19:10] Ruslan-B commented on #162
Thing matter - back then used to be Oracle vs Google - I think would be nice to get a permission from FFmpeg consortium.

[2021-04-06 16:01] Ruslan-B commented on #162
Reflected a bit over time - I think is better to remove binaries from the repo and put some download code into generator and example project - it will work for windows only, but linux and os x have a package manager  if not by default but by definition on dev machine.  It should close any questions with respect to licensing.
As for dedicated project for nuget - in the past we tried to organize suc

[2021-04-09 17:52] iamcarbon opened #163 "Update to FFmpeg 4.4"
* **I'm submitting a ... **
  - [x] feature request

[2021-04-10 07:14] Ruslan-B commented on #163
Done 542c833f470effeb7cda8606c68bf983a5a6309e.
New nuget https://www.nuget.org/packages/FFmpeg.AutoGen/4.4.0

[2021-04-10 07:14] #163 closed

[2021-05-04 08:12] reno77 opened #164 "RTSP streaming, pFormatContext->nb_streams goes to zero when trying to encode"
**Note: for support questions, please use [stackoverflow](https://stackoverflow.com/search?tab=newest&q=ffmpeg%20autogen) or special repository on [github.com](in special repository [github.com](https://github.com/Ruslan-B/FFmpeg.AutoGen.Questions/issues))**. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ... **
  - [ x ] bug report
  - [ ] featur

[2021-05-12 03:50] reno77 commented on #164
Hi, I solved the nb_streams  issue by passing the local var pFormatContext object through to the encode function as a parameter.
I still get the error "Return code -22" in the ffmpeg.av_write_frame(pFormatContext, pkt) method though, not sure why
debugging the code still.

[2021-05-12 09:58] Ruslan-B commented on #164
Good to hear you got it working. It actually might be outdated C sample code - I saw in the past.
Example code you posted might also good reference point for others.

[2021-05-15 11:07] Ruslan-B commented on #140
closing issue as it stalled

[2021-05-15 11:07] #140 closed

[2021-05-15 23:55] jackfrombb opened #165 "Example fails to run with qsv (qsv is not supported as input pixel format)"
Hi)
I runing an FFmpeg.AutoGen.Example then select qsv for hardware acceleration and receive Exception __pConvertContext == null_ [(VideoframeConverter.cs)](https://github.com/Ruslan-B/FFmpeg.AutoGen/blob/542c833f470effeb7cda8606c68bf983a5a6309e/FFmpeg.AutoGen.Example/VideoFrameConverter.cs#L24)

In Console:
[code]

Win 10, VS 2019
i5-7300U (Intel HD Graphics 620)

What am I doing wrong?

In russi

[2021-05-17 05:20] Ruslan-B commented on #165
Hi there,
Technically your issue against repo rules, but I give few weeks - maybe someone other reply you, but it is less likely - the only one who can help is likely you :). As with FFMPG you can do dozens things slightly wrong.
After  few weeks I'll move issue to questions repository.
However, if happens you google around last line you might find this: https://www.google.com/search?q=qsv+pixel+f

[2021-05-19 00:08] jackfrombb commented on #165
Thanks. I hope someone will help)

I'm trying to migrate the example from [official docs](https://github.com/FFmpeg/FFmpeg/blob/master/doc/examples/qsvdec.c) and noticed that the structure **AVQSVFramesContext**  is missing. But I don't know how to solve it

[The structure is used here](https://github.com/FFmpeg/FFmpeg/blob/3e44bd068fc19baeaab3295fce8379c68e4b2b2a/doc/examples/qsvdec.c#L57)

[2021-05-19 08:35] Ruslan-B commented on #165
I'll look for AVQSVFramesContext and try to add it to bindings generator, bear with me :).

[2021-05-19 22:48] jackfrombb commented on #165
Can you briefly tell me about the generation?
I will read the assembly instructions and try to build it.
I have already downloaded the Intel [Media SDK](https://software.intel.com/content/www/us/en/develop/tools/media-sdk.html) and now I think where to screw it)
Thank you for your help.

[2021-05-22 05:40] jackfrombb commented on #165
I decided that ffmpeg generation was too much for me and I did it a [little easier](https://github.com/jackfrombb/CppSharpUnsafeGenerator/blob/main/IssueSolution.cs)

This works, but the decoding is not surprising with the speed (~+20%).
It is possible that the code needs to be optimized.
CPU load is lower than EmguCV(Tested on Windows Forms).
The QSV decoder takes a long time to initialize.

[2021-05-22 05:40] #165 closed

[2021-05-22 05:58] Ruslan-B commented on #165
Glad to hear this. So far help yourself proved to be working advice ;).

[2021-06-22 16:15] ilchdeveloper opened #166 "Method DecodeAllFramesToImages in Sample app throws an exception (Invalid parameters) when trying to create a new Bitmap in case custom resolution for example 638x478"
**Note: for support questions, please use [stackoverflow](https://stackoverflow.com/search?tab=newest&q=ffmpeg%20autogen) or special repository on [github.com](in special repository [github.com](https://github.com/Ruslan-B/FFmpeg.AutoGen.Questions/issues))**. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ... **
  - [x ] bug report
  - [x ] featur

[2021-06-25 09:45] Ruslan-B commented on #166
Please use version 4.4, if the issue re occurs, please provide a sample file.

[2021-06-25 09:45] #166 closed

[2021-07-01 05:50] jeff9571 opened #167 "Make a stream wall (ffmpeg mosaic)"
**Note: for support questions, please use [stackoverflow](https://stackoverflow.com/search?tab=newest&q=ffmpeg%20autogen) or special repository on [github.com](in special repository [github.com](https://github.com/Ruslan-B/FFmpeg.AutoGen.Questions/issues))**. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ... **
  - [ ] bug report
  - [x] feature

[2021-07-01 06:47] Ruslan-B commented on #167
The link is broken.
But, the only way I can classify this issues is - **support request or question**. As you already have an all necessary API to achieve this. So it has nothing to do with bindings.

[2021-07-01 06:47] #167 closed

[2021-07-01 07:55] jeff9571 commented on #167
I've re set the , [Link](https://trac.ffmpeg.org/wiki/Create%20a%20mosaic%20out%20of%20several%20input%20videos%20using%20xstack) , how can i achieve this using ffmpeg autogen?

[2021-07-01 08:05] jeff9571 commented on #167
I've re set the  [link](https://trac.ffmpeg.org/wiki/Create%20a%20mosaic%20out%20of%20several%20input%20videos%20using%20xstack) how can i achieve this using ffmpeg autogen?

[2021-07-01 10:00] Ruslan-B commented on #167
Yes, I think it is very possible. But, you need to understand the difference between FFmpeg API and ffmpeg.exe.
You have to decode, convert and rescale your video streams (on different threads I guess) and then assemble one canvas by blitting your output of individual channels into one big canvas (bitmap). Provided you have already example and C# skills it should trivial.

[2021-07-19 03:01] yyan7223 commented on #127
@Ruslan-B
This hears like a duck (https://yesimroy.gitbooks.io/android-note/content/compile_ffmpeg_for_android.html)
So is it a duck?

[2021-07-19 14:35] Ruslan-B commented on #127
@yyan7223 nothing is static and if it works it is great news!

[2021-07-19 15:57] Ruslan-B commented on #127
Just reflecting any does it bring any practical use except of technical ability?

[2021-07-20 00:37] yyan7223 commented on #127
I followed this link and compile the .so files for android, and I replaced them with the .dll files in FFmpeg/bin/x64 folder.
But it did not work in the apk for android...
What do you mean it is not static, I can "--enable-static" when building and it will generate the .a files

[2021-07-20 00:48] yyan7223 commented on #127
Yes, it has practical use.
The project I'm doing now is using Unity to build cloud rendering based on FFmpeg. Unity use C# language, so your project really helps me a lot.
The idea in this project is that the Unity on the desktop encode the rendered frame and send it to the mobile phone for decoding. The mobile phone also needs to use the APK built by Unity because we have other game logic, which

[2021-07-23 14:14] Ruslan-B commented on #127
Sorry for the late answer - have no clue with respect to mobile, but you have all ways to overload library loading and function resolution. Libs provides from of the box only for desktop platforms.

[2021-07-24 00:57] yyan7223 commented on #127
Thanks for the answer.
I have built the ffmpeg .so files for Android platform.
What do you mean by overloading library and function resolution?
Does it mean I have to modify your code from the scratch?

[2021-07-24 07:41] Ruslan-B commented on #127
In case they follow  linux or bsd namig convention just need to specify path to them.

[2021-07-24 07:52] yyan7223 commented on #127
Thanks man

[2021-08-01 12:06] SuRGeoNix opened #168 "HLS demuxer (feature request)"
Hey @Ruslan-B , hope you are doing well. Yet another request when you are available. Mainly I'm trying to allow users to HLS seek or change playlists/segments which I'm not able to do with the current exposure. By reading ffmpeg's code it all goes down to [hls.c](https://www.ffmpeg.org/doxygen/trunk/hls_8c_source.html#l00192) and HLSContext structure which can be obtain from AVFormatContext->priv_

[2021-08-01 16:48] Ruslan-B commented on #168
Hi @SuRGeoNix, I not sure it will be possible to fulfill this request with in the scope of this project . As generation happens against publicly available API (include files, shipped with precompiled binaries) and ```hls.c``` is not a part of public API.
Means, it should be a high level API available, otherwise, it is internals of FFmpeg implementation.
There is even section in ```avformat.h```:
[

[2021-08-01 17:00] SuRGeoNix commented on #168
Yep, can't do much with those... already checked. What I was thinking is, as I can pass "live_start_index" option to HLS demuxer and start the stream from another segment, it would be nice to know how many segments it has and the duration for each one. And that's also a dynamic information. So I guess the only way to access it, it would be through the HLSContext. Feel free to close it as I told yo

[2021-08-01 17:23] Ruslan-B commented on #168
Well you can try to port this structure by hand.
Another option custom fork of this project -  just clip what you need from ```hls.c``` - the structure and all dependencies and include into generation process but adding another include file from different location.

[2021-08-01 17:23] #168 closed